 <div class="container">
     <br><br>
     <div class="row">
        <div class="col">
            <div style="display: block;">
                <h3 style="text-align: center;">Operacije danas</h3>
                <canvas baseChart
                    [datasets] = "barChartData"
                    [labels] = "barChartLabels"
                    [chartType] = "barChartType"
                    [legend] = "barChartLegend"
                    [options]="barChartOptions">
                </canvas>
            </div>
        </div>
        <div class="col">
            <div style="display: block">
                <h3 style="text-align: center;">Broj zaposlenih po operacijama (danas)</h3>
                <br>
                <canvas baseChart
                    [datasets] = "barChartWorkerNoData"
                    [labels] = "barChartWorkerNoLabels"
                    [chartType] = "barChartWorkerNoType"
                    [legend] = "barChartWorkerNoLegend"
                    [options]="barChartWorkerNoOptions">
                </canvas>
            </div>
        </div>
     </div>
     <br><br>
     <div class="row">
         <div class="col">
            <div style="display: block">
                <h3 style="text-align: center;">Površine po kulturama</h3>
                <br>
                <canvas baseChart
                    [datasets] = "pieChartAreaPerCultureData"
                    [labels] = "pieChartAreaPerCultureLabels"
                    [chartType] = "pieChartAreaPerCultureType"
                    [colors] = "chartColors"
                >
                </canvas>
            </div>
         </div>
         <div class="col">
            <div style="display: block">
                <h3 style="text-align: center;">Prinos po kulturama t/ha</h3>
                <br>
                <canvas baseChart
                    [datasets] = "barChartYieldPerCultureData"
                    [labels] = "barChartYieldPerCultureLabels"
                    [chartType] = "barChartYieldPerCultureType"
                    [legend] = "barChartYieldPerCultureLegend"
                    [options]="barChartYieldPerCultureOptions">
                </canvas>
            </div>
         </div>
     </div>
    <br><br>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;">Na terenu</h3>
            <br>
            <table class="table">
                <thead>
                    <th scope="col"><i class="fa fa-user mr-2"></i>Radnici</th>
                    <th scope="col"><i class="fa fa-truck mr-2"></i> Mašine</th>
                    <th scope="col"><i class="fa fa-database mr-2"></i> Table</th>
                </thead>
                <tbody>
                    <tr> 
                        <td (click)="markerAnimate()">Jockov Željko</td>
                        <td>IMT 533/539</td>
                        <td>T-119</td>
                    </tr>
                    <tr>
                        <td>Jokanović Dragan</td>
                        <td>IMT-539</td>
                        <td>T-120</td>
                    </tr>
                    <tr>
                        <td>Juhas Zoltan</td>
                        <td>JOHN DEERE 5510 N</td>
                        <td>T-123</td>
                    </tr>
                    <tr>
                        <td>Juhas Žolt</td>
                        <td>JOHN DEERE 6620</td>
                        <td>T-124</td>
                    </tr>
                    <tr>
                        <td>Kljajić Mićko</td>
                        <td>JOHN DEERE 6630</td>
                        <td>T-125</td>
                    </tr>
                    <tr>
                        <td>Knežević Goran</td>
                        <td>JOHN DEERE 6820</td>
                        <td>T-131</td>
                    </tr>
                    <tr>
                        <td>Koletar Ervin</td>
                        <td>JOHN DEERE 8320</td>
                        <td>T-132</td>
                    </tr>
                    <tr>
                        <td>Koletar Adrian</td>
                        <td>JOHN DEERE 8330</td>
                        <td>T-133</td>
                    </tr>
                    <tr>
                        <td>Koletar Žolt</td>
                        <td>NEW HOLAND T 6.050</td>
                        <td>T-134</td>
                    </tr>
                    <tr>
                        <td>Mađar Milenko</td>
                        <td>NEW HOLLAND T 7.210</td>
                        <td>T-135</td>
                    </tr>
                    <tr>
                        <td>Matić Biljana</td>
                        <td>NEW HOLAND T 8.410</td>
                        <td>T-136</td>
                    </tr>
                    <tr>
                        <td>Mesaroš Ištvan</td>
                        <td></td>
                        <td>T-137</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <br><br><br>
            <agm-map [latitude]="lat"  [longitude]="lng"  (mapReady)="onMapReady($event)"  [mapTypeControl]="true"  
                disableDoubleClickZoom="true"  mapTypeId='satellite'  [zoom]=15 >
                <agm-marker *ngFor="let worker of markersWorkers"
                    [latitude]="worker.lat" 
                    [longitude]="worker.lng"
                    [animation]="userLocationMarkerAnimation"
                    [iconUrl]="{
                        url: './assets/worker.svg',
                        scaledSize: {
                            width: 40,
                            height: 60
                        }
                    }">
                    <agm-info-window>{{worker.name}}</agm-info-window>
                </agm-marker>
                <agm-marker *ngFor="let machine of markersMachines"
                    [latitude]="machine.lat" 
                    [longitude]="machine.lng"
                    [iconUrl]="{
                        url: './assets/machine.png',
                        scaledSize: {
                            width: 40,
                            height: 60
                        }
                    }">
                    <agm-info-window>{{machine.name}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
    <br>
</div>

