<div class="container" #scroll> 
   <br><br>
   <a class="weatherwidget-io" href="https://forecast7.com/sr/45d2719d83/novi-sad/" data-label_1="NOVI SAD" data-label_2="WEATHER" data-theme="dark" data-basecolor="#5C7495" data-suncolor="#f68901" >NOVI SAD WEATHER</a>
   <br><br>
   <div class="row">
     <div class="col">
       <div style="display: block;">
         <h3 style="text-align: center;">Operacije danas</h3>
         <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType"
           [legend]="barChartLegend" [options]="barChartOptions">
         </canvas>
       </div>
     </div>
     <div class="col">
       <div style="display: block">
         <h3 style="text-align: center;">Broj zaposlenih po operacijama (danas)</h3>
         <br>
         <canvas baseChart [datasets]="barChartWorkerNoData" [labels]="barChartWorkerNoLabels"
           [chartType]="barChartWorkerNoType" [legend]="barChartWorkerNoLegend" [options]="barChartWorkerNoOptions">
         </canvas>
       </div>
     </div>
   </div>
   <br><br>
   <div class="row">
     <div class="col">
       <div style="display: block">
         <h3 style="text-align: center;">Površine po kulturama</h3>
         <br>
         <canvas baseChart [datasets]="barChartAreaPerCultureData" [labels]="barChartAreaPerCultureLabels"
           [chartType]="barChartAreaPerCultureType" [colors]="chartColors" [options]="barChartAreaPerCultureOptions">
         </canvas>
       </div>
     </div>
     <div class="col">
       <div style="display: block">
         <h3 style="text-align: center;">Prinos po kulturama t/ha</h3>
         <br>
         <canvas baseChart [datasets]="barChartYieldPerCultureData" [labels]="barChartYieldPerCultureLabels"
           [chartType]="barChartYieldPerCultureType" [legend]="barChartYieldPerCultureLegend"
           [options]="barChartYieldPerCultureOptions">
         </canvas>
       </div>
     </div>
   </div>
   <br><br>
   <div class="row">
     <div class="col">
       <h3 style="text-align: center;">Na terenu</h3>
       <br>
       <table class="table">
         <thead>
           <th scope="col"><i class="fa fa-user mr-2"></i>Radnici</th>
           <th scope="col"><i class="fa fa-file mr-2"></i>Operacije</th>
           <th scope="col"><i class="fa fa-truck mr-2"></i> Mašine</th>
           <th scope="col"><i class="fa fa-database mr-2"></i> Table</th>
         </thead>
         <tbody>
           <tr *ngFor="let worker of markers; let i = index" id="{{worker.id}}">
             <td>
               {{worker.worker}}
             </td>
             <td>
               {{worker.operation}}
             </td>
             <td *ngIf="worker.machine != ''; else elseBlock">
               <span (click)="clickedMarker(1*worker.latMachine, 1*worker.lngMachine, worker.id, i)"
                 style="cursor: pointer;" title="Vidi mašinu na mapi">{{worker.machine}}</span>
             </td>
             <ng-template #elseBlock>
               <td></td>
             </ng-template>
             <td>
               <span (click)="onTableClick(1*worker.lat1Table, 1*worker.lng1Table, 1*worker.lat2Table, 1*worker.lng2Table, 
                            1*worker.lat3Table, 1*worker.lng3Table, 1*worker.lat4Table, 1*worker.lng4Table, worker.id)"
                 style="cursor: pointer;" title="Vidi tablu na mapi">{{worker.table}}</span>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
     <div class="col-sm-12">
       <br><br><br>
       <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)" [mapTypeControl]="true"
         disableDoubleClickZoom="true" mapTypeId='satellite' [zoom]=15 (mapClick)="onChoseLocation($event)">
         <agm-marker *ngFor="let machine of markers; let i = index"
           (markerClick)="clickedMarker(1*machine.latMachine, 1*machine.lngMachine, machine.id, i)"
           [latitude]="machine.latMachine" [longitude]="machine.lngMachine" [id]="machine.id" [iconUrl]="{
                        url: './assets/tractorMap.png',
                        scaledSize: {
                            width: 40,
                            height: 60
                        }
                    }" [animation]="machine.animation">
         </agm-marker>
         <agm-polygon [paths]="paths" [clickable]="false" [fillColor]="'#5C7495'">
         </agm-polygon>
       </agm-map>
     </div>
   </div>
   <br>
 </div>
