.topcorner{
    float: right;
    margin-top: 20px;
}

th, td {
    text-align: center;
}

.prinos {
    background-color: #73964a;
    color: white;
}

.pokazatelji {
    background-color: #f68901;
    color: white;
}

agm-map{
    height: 500px;
}