body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
}

th,
td {
  text-align: center;
}

.prinos {
  background-color: #73964a;
  color: white;
}

.pokazatelji {
  background-color: #f68901;
  color: white;
}

agm-map {
  height: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
