<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled poteza</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldGroupFC" [matAutocomplete]="autoFieldGroup" #searchFieldGroup
             placeholder="Pretražite po nazivu ili šifri poteza"/>
            <mat-autocomplete #autoFieldGroup="matAutocomplete" [displayWith]="displayFnFieldGroup" place>
              <mat-option *ngFor="
                let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroup.value
                " [value]="fieldGroup" >
                {{fieldGroup.Id}} - {{ fieldGroup.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="center" *ngIf="fieldGroups.length == 0 && loading == false">
      <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
      <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
    </div>
    <div class="row card-group">
      <div [ngClass]="fieldGroup === -1 ? 'fullScreen' : 'col-4'" *ngFor="let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroup.value; let j = index">
        <div *ngIf="fieldGroup === -1" class="center">
          <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
          <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
        </div>
        <div *ngIf="fieldGroup !== -1" class="card mb-4" style="width: 30rem; height: 90%;">
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-auto"
                style="width: fit-content; padding-bottom: 10px"
              >
                <img
                  class="card-img-right"
                  src="../../../assets/fieldGroup.png"
                  width="80px"
                  height="80px"
                />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ fieldGroup.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ fieldGroup.Id }}</td>
                    </tr>
                    <tr title="Kod kompanije" style="cursor: help">
                      <th><i class="fa fa-building-o"></i></th>
                      <td>{{ fieldGroup.CompanyCode }}</td>
                    </tr>
                    <tr title="Organizaciona jedinica" style="cursor: help">
                      <th><i class="fa fa-registered"></i></th>
                      <td>{{ fieldGroup.OrganisationUnit }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editFieldGroupModal"
            (click)="getFieldGroup(fieldGroup.dbId)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
<!--laptop version-->
<div class="d-none d-lg-block d-xl-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled poteza</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldGroupFC" [matAutocomplete]="autoFieldGroupLaptop" #searchFieldGroupLaptop
             placeholder="Pretražite po nazivu ili šifri poteza"/>
            <mat-autocomplete #autoFieldGroupLaptop="matAutocomplete" [displayWith]="displayFnFieldGroup" place>
              <mat-option *ngFor="
                let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroupLaptop.value
                " [value]="fieldGroup" >
                {{fieldGroup.Id}} - {{ fieldGroup.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="center" *ngIf="fieldGroups.length == 0 && loading == false">
      <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
      <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
    </div>
    <div class="row card-group">
      <div [ngClass]="fieldGroup === -1 ? 'fullScreen' : 'col-5'" *ngFor="let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroupLaptop.value; let j = index">
        <div *ngIf="fieldGroup === -1" class="center">
          <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
          <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
        </div>
        <div *ngIf="fieldGroup !== -1" class="card mb-4" style="width: 30rem; height: 90%;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-bottom: 10px">
                <img class="card-img-right" src="../../../assets/fieldGroup.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ fieldGroup.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ fieldGroup.Id }}</td>
                    </tr>
                    <tr title="Kod kompanije" style="cursor: help">
                      <th><i class="fa fa-building-o"></i></th>
                      <td>{{ fieldGroup.CompanyCode }}</td>
                    </tr>
                    <tr title="Organizaciona jedinica" style="cursor: help">
                      <th><i class="fa fa-registered"></i></th>
                      <td>{{ fieldGroup.OrganisationUnit }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editFieldGroupModal"
            (click)="getFieldGroup(fieldGroup.dbId)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
<!--tablet version-->
<div class="d-none d-md-block d-lg-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled poteza</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-4">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldGroupFC" [matAutocomplete]="autoFieldGroupTablet" #searchFieldGroupTablet
             placeholder="Pretražite po nazivu ili šifri poteza"/>
            <mat-autocomplete #autoFieldGroupTablet="matAutocomplete" [displayWith]="displayFnFieldGroup" place>
              <mat-option *ngFor="
                let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroupTablet.value
                " [value]="fieldGroup" >
                {{fieldGroup.Id}} - {{ fieldGroup.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="center" *ngIf="fieldGroups.length == 0 && loading == false">
      <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
      <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
    </div>
    <div class="row card-group">
      <div [ngClass]="fieldGroup === -1 ? 'fullScreen' : 'col-7'" *ngFor="let fieldGroup of fieldGroups | SearchFieldGroup: searchFieldGroupTablet.value; let j = index">
        <div *ngIf="fieldGroup === -1" class="center">
          <img src="../../../assets/fieldGroup-not-found.png" width="200px" height="200px" />
          <h4 style="text-align: center; width: 200px;">Nema poteza za prikazivanje</h4>
        </div>
        <div *ngIf="fieldGroup !== -1" class="card mb-4" style="width: 30rem; height: 90%;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-bottom: 10px">
                <img class="card-img-right" src="../../../assets/fieldGroup.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ fieldGroup.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ fieldGroup.Id }}</td>
                    </tr>
                    <tr title="Kod kompanije" style="cursor: help">
                      <th><i class="fa fa-building-o"></i></th>
                      <td>{{ fieldGroup.CompanyCode }}</td>
                    </tr>
                    <tr title="Organizaciona jedinica" style="cursor: help">
                      <th><i class="fa fa-registered"></i></th>
                      <td>{{ fieldGroup.OrganisationUnit }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editFieldGroupModal"
            (click)="getFieldGroup(fieldGroup.dbId)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
<!--Edit field group modal-->
<div class="modal fade" id="editFieldGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-area-chart"></i> {{ fieldGroup.Name }}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editFieldModalForm="ngForm">
          <div class="form-group">
            <label for="companyCode"><i class="fa fa-building-o"></i> Kod kompanije</label>
            <input [(ngModel)]="fieldGroup.CompanyCode" type="text" name="companyCode" class="form-control" id="" />
          </div>
          <div class="form-group">
            <label for="orgUnit"><i class="fa fa-registered"></i> Organizaciona jedinica</label>
            <input [(ngModel)]="fieldGroup.OrganisationUnit" type="text" name="orgUnit" class="form-control" id="" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="editFieldGroup()">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>