<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="container">
  <div style="padding-top: 10px"></div>
  <h3 class="mt-2 mb-2">Radnici</h3>
  <div style="padding-top: 10px"></div>
  <button class="btn btn-primary collapsing-button mb-2 shadow-none" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collapse()">
    Filteri
    <i *ngIf="collapseBool" class="fa fa-arrow-down" (click)="collapse()"></i>
    <i *ngIf="!collapseBool" class="fa fa-arrow-up" (click)="collapse()"></i>
  </button>
  <br />
  <form action="" class="collapse mb-4" id="collapseExample">
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchWorkOrder
            placeholder="Pretražite po broju naloga"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchWorker
            placeholder="Pretražite po radniku"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #od="ngbDatepicker" 
            (click)="od.toggle()"
            matInput 
            #searchDateFrom
            placeholder="Pretražite po datumu od"
            [(ngModel)]="dates.dateFrom"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
        -
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #do="ngbDatepicker" 
            (click)="do.toggle()"
            matInput 
            #searchDateTo
            placeholder="Pretražite po datumu do"
            [(ngModel)]="dates.dateTo"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            ngbDatepicker 
            #day="ngbDatepicker" 
            (click)="day.toggle()"
            matInput 
            #searchDate
            placeholder="Pretražite po danu"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchOperation
            placeholder="Pretražite po agrotehničkoj meri"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchWorkerPosition
            placeholder="Pretražite po poziciji radnika"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchCrop
            placeholder="Pretražite po usevu"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchTable
            placeholder="Pretražite po parceli"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="break-class pt-2 mb-4"></div>
  <div *ngIf="workers.length == 0" class="center">
    <img src="../../../assets/report-not-found.png" width="200px" height="200px" />
    <h4 style="text-align: center; width: 200px; padding-top: 5px;">Izveštaj nije pronađen</h4>
  </div>
  <table class="table table-hover tabela-nalozi">
    <thead>
      <tr>
        <th scope="col" style="vertical-align: middle;">Radnik</th>
        <th scope="col" style="vertical-align: middle;">SAP ID</th>
        <th scope="col" style="vertical-align: middle;">ATM</th>
        <th scope="col" style="vertical-align: middle;">Datum</th>
        <th scope="col" style="vertical-align: middle;">Parcela</th>
        <th scope="col" style="vertical-align: middle;">Usev</th>
        <th scope="col" style="vertical-align: middle;">Redovan rad</th>
        <th scope="col" style="vertical-align: middle;">Rad noću</th>
        <th scope="col" style="vertical-align: middle;">Ukupni sati rada</th>
        <th scope="col" style="vertical-align: middle;">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let worker of workers 
        | ReportEmployeeWorker: searchWorker.value
        | SearchEmployeePosition: searchWorkerPosition.value; 
        let i = index" >
        <tr *ngIf="worker === -1">
          <td colspan="10" >
            <img src="../../../assets/report-not-found.png" width="200px" height="200px"/>
            <h4 style="text-align: center; width: 200px; margin-left: auto; margin-right: auto;">Izveštaj nije pronađen</h4>
          </td>
        </tr>
        <tr *ngFor="let workOrder of worker.workOrders
          | SearchWorkOrdersTable: searchTable.value
          | SearchWorkOrdersOperation: searchOperation.value
          | SearchWorkOrdersDate: searchDate.value
          | SearchWorkOrdersCrop: searchCrop.value
          | ReportMaterialSapId: searchWorkOrder.value
          | SearchWoBetweenDates: filters; 
          let j = index">
          <ng-container *ngFor="let wo of workOrder.workers">
            <td *ngIf="j==0; else elseBlockName" style="font-weight: bold;">{{wo.user.Name}}</td>
            <ng-template #elseBlockName><td></td></ng-template>
            <td (click)="changeRoute(workOrder.id)" style="cursor: pointer;">{{ workOrder.sapId }}</td>
            <td>{{ workOrder.operationName }}</td>
            <td>{{ workOrder.date }}</td>
            <td>{{ workOrder.table }}</td>
            <td>{{ workOrder.cropName.split(",")[1] }}</td>
            <td *ngIf="wo.dayPeriod != -1; else elseDayPeriod">{{ wo.dayPeriod }} h</td>
            <ng-template #elseDayPeriod><td>/</td></ng-template>
            <td *ngIf="wo.nightPeriod != -1; else elseNightPeriod">{{ wo.nightPeriod }} h</td>
            <ng-template #elseNightPeriod><td>/</td></ng-template>
            <td *ngIf="wo.workPeriod != -1; else elseWorkPeriod">{{ wo.workPeriod }} h</td>
            <ng-template #elseWorkPeriod><td>/</td></ng-template>
            <td [ngClass]="{
                statusNovi: workOrder.status == 'Novi',
                statusURadu: workOrder.status == 'U radu',
                statusZatvoren: workOrder.status == 'Zatvoren'
                }" 
            >
              {{ workOrder.status }}
            </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let workOrder of worker.workOrders 
            | SearchWorkOrdersCrop: searchCrop.value
            | SearchWorkOrdersTable: searchTable.value
            | SearchWorkOrdersOperation: searchOperation.value
            | SearchWorkOrdersDate: searchDate.value
            | ReportMaterialSapId: searchWorkOrder.value
            | SearchWoBetweenDates: filters; 
            let i = index ">
            <td *ngIf="i==0 && workOrder !== -1">Σ {{ worker.worker.Name }}</td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td style="font-weight: bold;" *ngIf="i==0">
              {{
                getDayPeriodSum(worker.workOrders 
                | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value
                | SearchWoBetweenDates: filters)
              }}
            </td>
            <td style="font-weight: bold;" *ngIf="i==0">
              {{
                getNightPeriodSum(worker.workOrders | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value
                | SearchWoBetweenDates: filters)
              }}
            </td>
            <td style="font-weight: bold;" *ngIf="i==0">
              {{
                getWorkPeriodSum(worker.workOrders | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value
                | SearchWoBetweenDates: filters)
              }}
            </td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
  