<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled mašina</h3>
    <div style="padding-top: 20px"></div>
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineFC" [matAutocomplete]="autoMachine" #searchMachine
              placeholder="Pretražite po nazivu ili šifri mašine"/>
            <mat-autocomplete #autoMachine="matAutocomplete" [displayWith]="displayFnMachine" place>
              <mat-option *ngFor="
                let machine of machines | SearchMachine: searchMachine.value
                " [value]="machine" >
                  {{machine.Id}} - {{machine.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineTypeFC" [matAutocomplete]="autoMachineType" #searchMachineType
              placeholder="Pretražite po tipu mašine"/>
            <mat-autocomplete #autoMachineType="matAutocomplete" [displayWith]="displayFnMachineType" place>
              <mat-option *ngFor="
                let machine of machinesByType | SearchMachineType: searchMachineType.value
                " [value]="machine" >
                  {{machine.Type}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineGroupFC" [matAutocomplete]="autoMachineGroup" #searchMachineGroup
              placeholder="Pretražite po grupi mašine"/>
            <mat-autocomplete #autoMachineGroup="matAutocomplete" [displayWith]="displayFnMachineGroup" place>
              <mat-option *ngFor="
                let machineGroup of machineGroups | SearchMachineGroup: searchMachineGroup.value
                " [value]="machineGroup" >
                  {{machineGroup.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="row card-group">
      <div class="col-4" *ngFor="let machine of machines 
        | SearchMachineType: searchMachineType.value
        | SearchMachineMachineGroup: searchMachineGroup.value
        | SearchMachine: searchMachine.value; let j = index">
        <div class="card mb-3" style="width: 30rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img *ngIf="machine.Type == 'POGONSKA'; else elseBlockMachineImage" class="card-img-right"
                  src="../../../assets/tractor.png" width="80px" height="80px" />
                <ng-template #elseBlockMachineImage>
                  <img class="card-img-right" src="../../../assets/trailer.png" width="80px" height="80px" />
                </ng-template>
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ machine.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ machine.Id }}</td>
                    </tr>
                    <tr title="Tip" style="cursor: help">
                      <th><i class="fas fa-cog"></i></th>
                      <td>{{ machine.Type }}</td>
                    </tr>
                    <tr title="Gorivo" style="cursor: help">
                      <th><i class="fas fa-gas-pump"></i></th>
                      <td>{{ machine.FuelType }}</td>
                    </tr>
                    <tr title="Grupa" style="cursor: help">
                      <th><i class="fa fa-truck"></i></th>
                      <td>{{ machine.machineGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getMachine(machine.id)" data-toggle="modal"
            data-target="#editMachineModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tablet version-->
<div class="d-none d-md-block d-lg-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled mašina</h3>
    <div style="padding-top: 20px"></div>
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineFC" [matAutocomplete]="autoMachineTablet" #searchMachineTablet
              placeholder="Pretražite po nazivu ili šifri mašine"/>
            <mat-autocomplete #autoMachineTablet="matAutocomplete" [displayWith]="displayFnMachine" place>
              <mat-option *ngFor="
                let machine of machines | SearchMachine: searchMachineTablet.value
                " [value]="machine" >
                  {{machine.Id}} - {{machine.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineTypeFC" [matAutocomplete]="autoMachineTypeTablet" #searchMachineTypeTablet
              placeholder="Pretražite po tipu mašine"/>
            <mat-autocomplete #autoMachineTypeTablet="matAutocomplete" [displayWith]="displayFnMachineType" place>
              <mat-option *ngFor="
                let machine of machinesByType | SearchMachineType: searchMachineTypeTablet.value
                " [value]="machine" >
                  {{machine.Type}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineGroupFC" [matAutocomplete]="autoMachineGroupTablet" #searchMachineGroupTablet
              placeholder="Pretražite po grupi mašine"/>
            <mat-autocomplete #autoMachineGroupTablet="matAutocomplete" [displayWith]="displayFnMachineGroup" place>
              <mat-option *ngFor="
                let machineGroup of machineGroups | SearchMachineGroup: searchMachineGroup.value
                " [value]="machineGroup" >
                  {{machineGroup.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="row card-group">
      <div class="col-7" *ngFor="let machine of machines
        | SearchMachineType: searchMachineTypeTablet.value
        | SearchMachineMachineGroup: searchMachineGroupTablet.value
        | SearchMachine: searchMachineTablet.value; let j = index">
        <div class="card mb-3" style="width: 30rem">
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-auto"
                style="width: fit-content; padding-top: 12px"
              >
                <img
                  *ngIf="machine.Type == 'POGONSKA'; else elseBlockMachineImage"
                  class="card-img-right"
                  src="../../../assets/tractor.png"
                  width="80px"
                  height="80px"
                />
                <ng-template #elseBlockMachineImage>
                  <img class="card-img-right" src="../../../assets/trailer.png" width="80px" height="80px" />
                </ng-template>
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ machine.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ machine.Id }}</td>
                    </tr>
                    <tr title="Tip" style="cursor: help">
                      <th><i class="fas fa-cog"></i></th>
                      <td>{{ machine.Type }}</td>
                    </tr>
                    <tr title="Gorivo" style="cursor: help">
                      <th><i class="fas fa-gas-pump"></i></th>
                      <td>{{ machine.FuelType }}</td>
                    </tr>
                    <tr title="Grupa" style="cursor: help">
                      <th><i class="fa fa-truck"></i></th>
                      <td>{{ machine.machineGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getMachine(machine.id)" data-toggle="modal"
            data-target="#editMachineModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--laptop version-->
<div class="d-none d-lg-block d-xl-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled mašina</h3>
    <div style="padding-top: 20px"></div>
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineFC" [matAutocomplete]="autoMachineLaptop" #searchMachineLaptop
              placeholder="Pretražite po nazivu ili šifri mašine"/>
            <mat-autocomplete #autoMachineLaptop="matAutocomplete" [displayWith]="displayFnMachine" place>
              <mat-option *ngFor="
                let machine of machines | SearchMachine: searchMachineLaptop.value
                " [value]="machine" >
                  {{machine.Id}} - {{machine.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineTypeFC" [matAutocomplete]="autoMachineTypeLaptop" #searchMachineTypeLaptop
              placeholder="Pretražite po tipu mašine"/>
            <mat-autocomplete #autoMachineTypeLaptop="matAutocomplete" [displayWith]="displayFnMachineType" place>
              <mat-option *ngFor="
                let machine of machinesByType | SearchMachineType: searchMachineTypeLaptop.value
                " [value]="machine" >
                  {{machine.Type}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="machineGroupFC" [matAutocomplete]="autoMachineGroupLaptop" #searchMachineGroupLaptop
              placeholder="Pretražite po grupi mašine"/>
            <mat-autocomplete #autoMachineGroupLaptop="matAutocomplete" [displayWith]="displayFnMachineGroup" place>
              <mat-option *ngFor="
                let machineGroup of machineGroups | SearchMachineGroup: searchMachineGroupLaptop.value
                " [value]="machineGroup" >
                  {{machineGroup.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="row card-group">
      <div class="col-5" *ngFor="let machine of machines
        | SearchMachineType: searchMachineTypeLaptop.value
        | SearchMachineMachineGroup: searchMachineGroupLaptop.value
        | SearchMachine: searchMachineLaptop.value; let j = index">
        <div class="card mb-3" style="width: 30rem">
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-auto"
                style="width: fit-content; padding-top: 12px"
              >
                <img
                  *ngIf="machine.Type == 'POGONSKA'; else elseBlockMachineImage"
                  class="card-img-right"
                  src="../../../assets/tractor.png"
                  width="80px"
                  height="80px"
                />
                <ng-template #elseBlockMachineImage>
                  <img class="card-img-right" src="../../../assets/trailer.png" width="80px" height="80px" />
                </ng-template>
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ machine.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ machine.Id }}</td>
                    </tr>
                    <tr title="Tip" style="cursor: help">
                      <th><i class="fas fa-cog"></i></th>
                      <td>{{ machine.Type }}</td>
                    </tr>
                    <tr title="Gorivo" style="cursor: help">
                      <th><i class="fas fa-gas-pump"></i></th>
                      <td>{{ machine.FuelType }}</td>
                    </tr>
                    <tr title="Grupa" style="cursor: help">
                      <th><i class="fa fa-truck"></i></th>
                      <td>{{ machine.machineGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getMachine(machine.id)" data-toggle="modal"
            data-target="#editMachineModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Edit machine modal-->
<div class="modal fade" id="editMachineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-tractor"></i> {{ machine.Name }}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editFieldModalForm="ngForm">
          <div class="form-group">
            <label for="area"><i class="fas fa-cog"></i> Tip</label>
            <select id="" class="form-control" name="type" [(ngModel)]="machine.Type">
              <option value="POGONSKA">
                POGONSKA
              </option>
              <option value="PRIKLJUČNA">
                PRIKLJUČNA
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="fuel"><i class="fas fa-gas-pump"></i> Gorivo</label>
            <select id="" class="form-control" name="fuel" [(ngModel)]="machine.FuelType">
              <option value="NIJE IZABRANO">
                NIJE IZABRANO
              </option>
              <option value="BENZIN">
                BENZIN
              </option>
              <option value="GAS">
                GAS
              </option>
              <option value="EVRO DIZEL">
                EVRO DIZEL
              </option>
              <option value="BIO DIZEL">
                BIO DIZEL
              </option>
              <option value="DIZEL">
                DIZEL
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="group"><i class="fa fa-truck"></i> Grupa</label>
            <select id="" class="form-control" name="group" [(ngModel)]="machine.machineGroup">
              <option value="{{ machineGroup.dbId }}" *ngFor="let machineGroup of machineGroups">
                {{ machineGroup.Name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="editMachine()">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>