<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled ATM</h3>
    <div style="padding-top: 10px"></div>
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="operationFC" [matAutocomplete]="autoOperation" #searchOperation
              placeholder="Pretražite po nazivu ili šifri ATM"/>
            <mat-autocomplete #autoOperation="matAutocomplete" [displayWith]="displayFnOperation" place>
              <mat-option *ngFor="
                let operation of operations | SearchOperations: searchOperation.value
                " [value]="operation" >
                {{ operation.Id }} - {{operation.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="operationTypeFC" [matAutocomplete]="autoOperationType" #searchOperationType
              placeholder="Pretražite po tipu ATM"/>
            <mat-autocomplete #autoOperationType="matAutocomplete" [displayWith]="displayFnOperationType" place>
              <mat-option *ngFor="
                let operation of operationTypes | SearchOperationType: searchOperationType.value
                " [value]="operation" >
                {{ operation.Type }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="operationGroupFC" [matAutocomplete]="autoOperationGroup" #searchOperationGroup
              placeholder="Pretražite po nazivu ili šifri grupe ATM"/>
            <mat-autocomplete #autoOperationGroup="matAutocomplete" [displayWith]="displayFnOperationGroup" place>
              <mat-option *ngFor="
                let operationGroup of operationGroups | SearchOperationGroup: searchOperationGroup.value
                " [value]="operationGroup" >
                {{ operationGroup.Id }} - {{operationGroup.Name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div *ngIf="operations.length == 0 && loading == false" class="center">
      <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
      <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
    </div>
    <div class="row card-group">
      <div [ngClass]="operation === -1 ? 'fullScreen' : 'col-4'" *ngFor="let operation of operations
        | SearchOperations: searchOperation.value
        | SearchOperationType: searchOperationType.value
        | SearchOperationOperationGroup: searchOperationGroup.value; let j = index">
        <div *ngIf="operation === -1" class="center">
          <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
          <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
        </div>
        <div *ngIf="operation !== -1" class="card mb-4" style="width: 30.2rem; height: 90%;">
          <div class="card-body">
            <div class="row" style="word-break: break-word;">
              <div
                class="col-md-auto"
                style="width: fit-content; padding-bottom: 10px"
              >
                <img
                  class="card-img-right"
                  src="../../../assets/shovel.png"
                  width="80px"
                  height="80px"
                />
              </div>
              <div class="col" style="margin-right: 13px;">
                <div class="card-text">
                  <h5 class="card-title" style="margin-right: 30px;">
                    {{ operation.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ operation.Id }}</td>
                    </tr>
                    <tr title="Tip ATM" style="cursor: help">
                      <th><i class="fas fa-seedling"></i></th>
                      <td>{{ operation.Type }}</td>
                    </tr>
                    <tr title="Grupa ATM" style="cursor: help">
                      <th><i class="fas fa-cogs"></i></th>
                      <td>{{ operation.operationGroup }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editOperationModal"
            (click)="getOperation(operation.id)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
</div>
<!--laptop version-->
<div class="d-none d-lg-block d-xl-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled ATM</h3>
    <div style="padding-top: 10px"></div>
      <div class="form-row">
        <div class="col-3">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationFC" [matAutocomplete]="autoOperationLaptop" #searchOperationLaptop
                placeholder="Pretražite po nazivu ili šifri ATM"/>
              <mat-autocomplete #autoOperationLaptop="matAutocomplete" [displayWith]="displayFnOperation" place>
                <mat-option *ngFor="
                  let operation of operations | SearchOperations: searchOperationLaptop.value
                  " [value]="operation" >
                  {{ operation.Id }} - {{operation.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-3">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationTypeFC" [matAutocomplete]="autoOperationTypeLaptop" #searchOperationTypeLaptop
                placeholder="Pretražite po tipu ATM"/>
              <mat-autocomplete #autoOperationTypeLaptop="matAutocomplete" [displayWith]="displayFnOperationType" place>
                <mat-option *ngFor="
                  let operation of operationTypes | SearchOperationType: searchOperationTypeLaptop.value
                  " [value]="operation" >
                  {{ operation.Type }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-4">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationGroupFC" [matAutocomplete]="autoOperationGroupLaptop" #searchOperationGroupLaptop
                placeholder="Pretražite po nazivu ili šifri grupe ATM"/>
              <mat-autocomplete #autoOperationGroupLaptop="matAutocomplete" [displayWith]="displayFnOperationGroup" place>
                <mat-option *ngFor="
                  let operationGroup of operationGroups | SearchOperationGroup: searchOperationGroupLaptop.value
                  " [value]="operationGroup" >
                  {{ operationGroup.Id }} - {{operationGroup.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px"></div>
    <div class="container">
      <div *ngIf="operations.length == 0 && loading == false" class="center">
        <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
        <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
      </div>
      <div class="row card-group">
        <div [ngClass]="operation === -1 ? 'fullScreen' : 'col-5'" *ngFor="let operation of operations
          | SearchOperations: searchOperationLaptop.value
          | SearchOperationType: searchOperationTypeLaptop.value
          | SearchOperationOperationGroup: searchOperationGroupLaptop.value; let j = index">
          <div *ngIf="operation === -1" class="center">
            <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
            <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
          </div>
          <div *ngIf="operation !== -1" class="card mb-4" style="width: 30.2rem; height: 90%;">
            <div class="card-body">
              <div class="row" style="word-break: break-word;">
                <div
                  class="col-md-auto"
                  style="width: fit-content; padding-bottom: 10px"
                >
                  <img
                    class="card-img-right"
                    src="../../../assets/shovel.png"
                    width="80px"
                    height="80px"
                  />
                </div>
                <div class="col" style="margin-right: 13px;">
                  <div class="card-text">
                    <h5 class="card-title" style="margin-right: 30px;">
                      {{ operation.Name }}
                    </h5>
                    <table>
                      <tr title="SAP ID" style="cursor: help">
                        <th><i class='fas fa-fingerprint'></i></th>
                        <td>{{ operation.Id }}</td>
                      </tr>
                      <tr title="Tip ATM" style="cursor: help">
                        <th><i class="fas fa-seedling"></i></th>
                        <td>{{ operation.Type }}</td>
                      </tr>
                      <tr title="Grupa ATM" style="cursor: help">
                        <th><i class="fas fa-cogs"></i></th>
                        <td>{{ operation.operationGroup }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editOperationModal"
            (click)="getOperation(operation.id)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>
<!--tablet version-->
<div class="d-none d-md-block d-lg-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled ATM</h3>
    <div style="padding-top: 10px"></div>
      <div class="form-row">
        <div class="col-4">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationFC" [matAutocomplete]="autoOperationTablet" #searchOperationTablet
                placeholder="Pretražite po nazivu ili šifri ATM"/>
              <mat-autocomplete #autoOperationTablet="matAutocomplete" [displayWith]="displayFnOperation" place>
                <mat-option *ngFor="
                  let operation of operations | SearchOperations: searchOperationTablet.value
                  " [value]="operation" >
                  {{ operation.Id }} - {{operation.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-3">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationTypeFC" [matAutocomplete]="autoOperationTypeTablet" #searchOperationTypeTablet
                placeholder="Pretražite po tipu ATM"/>
              <mat-autocomplete #autoOperationTypeTablet="matAutocomplete" [displayWith]="displayFnOperationType" place>
                <mat-option *ngFor="
                  let operation of operationTypes | SearchOperationType: searchOperationTypeTablet.value
                  " [value]="operation" >
                  {{ operation.Type }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-5">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationGroupFC" [matAutocomplete]="autoOperationGroupTablet" #searchOperationGroupTablet
                placeholder="Pretražite po nazivu ili šifri grupe ATM"/>
              <mat-autocomplete #autoOperationGroupTablet="matAutocomplete" [displayWith]="displayFnOperationGroup" place>
                <mat-option *ngFor="
                  let operationGroup of operationGroups | SearchOperationGroup: searchOperationGroupTablet.value
                  " [value]="operationGroup" >
                  {{ operationGroup.Id }} - {{operationGroup.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px"></div>
    <div class="container">
      <div *ngIf="operations.length == 0 && loading == false" class="center">
        <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
        <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
      </div>
      <div class="row card-group">
        <div [ngClass]="operation === -1 ? 'fullScreen' : 'col-7'" *ngFor="let operation of operations
          | SearchOperations: searchOperationTablet.value
          | SearchOperationType: searchOperationTypeTablet.value
          | SearchOperationOperationGroup: searchOperationGroupTablet.value; let j = index">
          <div *ngIf="operation === -1" class="center">
            <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
            <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
          </div>
          <div *ngIf="operation !== -1" class="card mb-4" style="width: 30.2rem; height: 90%;">
            <div class="card-body">
              <div class="row" style="word-break: break-word;">
                <div
                  class="col-md-auto"
                  style="width: fit-content; padding-bottom: 10px"
                >
                  <img
                    class="card-img-right"
                    src="../../../assets/shovel.png"
                    width="80px"
                    height="80px"
                  />
                </div>
                <div class="col" style="margin-right: 13px;">
                  <div class="card-text">
                    <h5 class="card-title" style="margin-right: 30px;">
                      {{ operation.Name }}
                    </h5>
                    <table>
                      <tr title="SAP ID" style="cursor: help">
                        <th><i class='fas fa-fingerprint'></i></th>
                        <td>{{ operation.Id }}</td>
                      </tr>
                      <tr title="Tip ATM" style="cursor: help">
                        <th><i class="fas fa-seedling"></i></th>
                        <td>{{ operation.Type }}</td>
                      </tr>
                      <tr title="Grupa ATM" style="cursor: help">
                        <th><i class="fas fa-cogs"></i></th>
                        <td>{{ operation.operationGroup }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editOperationModal"
            (click)="getOperation(operation.id)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>
<!--mobile version-->
<div class="container d-md-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled ATM</h3>
    <div style="padding-top: 10px"></div>
      <div class="form-row">
        <div class="col-11">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationFC" [matAutocomplete]="autoOperationTablet" #searchOperationTablet
                placeholder="Pretražite po nazivu ili šifri ATM"/>
              <mat-autocomplete #autoOperationTablet="matAutocomplete" [displayWith]="displayFnOperation" place>
                <mat-option *ngFor="
                  let operation of operations | SearchOperations: searchOperationTablet.value
                  " [value]="operation" >
                  {{ operation.Id }} - {{operation.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-11">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationTypeFC" [matAutocomplete]="autoOperationTypeTablet" #searchOperationTypeTablet
                placeholder="Pretražite po tipu ATM"/>
              <mat-autocomplete #autoOperationTypeTablet="matAutocomplete" [displayWith]="displayFnOperationType" place>
                <mat-option *ngFor="
                  let operation of operationTypes | SearchOperationType: searchOperationTypeTablet.value
                  " [value]="operation" >
                  {{ operation.Type }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-11">
          <form>
            <mat-form-field class="inputAuto">
              <input type="text" matInput [formControl]="operationGroupFC" [matAutocomplete]="autoOperationGroupTablet" #searchOperationGroupTablet
                placeholder="Pretražite po nazivu ili šifri grupe ATM"/>
              <mat-autocomplete #autoOperationGroupTablet="matAutocomplete" [displayWith]="displayFnOperationGroup" place>
                <mat-option *ngFor="
                  let operationGroup of operationGroups | SearchOperationGroup: searchOperationGroupTablet.value
                  " [value]="operationGroup" >
                  {{ operationGroup.Id }} - {{operationGroup.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px"></div>
    <div class="container">
      <div *ngIf="operations.length == 0 && loading == false" class="center">
        <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
        <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
      </div>
      <div class="row card-group">
        <div [ngClass]="operation === -1 ? 'fullScreenMob' : 'col-3'" *ngFor="let operation of operations
          | SearchOperations: searchOperationTablet.value
          | SearchOperationType: searchOperationTypeTablet.value
          | SearchOperationOperationGroup: searchOperationGroupTablet.value; let j = index">
          <div *ngIf="operation === -1" class="center">
            <img src="../../../assets/shovel-not-found.png" width="200px" height="200px" />
            <h4 style="text-align: center; width: 200px;">Nema ATM za prikazivanje</h4>
          </div>
          <div *ngIf="operation !== -1" class="card mb-4" style="width: 25.2rem; height: 90%;">
            <div class="card-body">
              <div class="row" style="word-break: break-word;">
                <div
                  class="col-md-auto"
                  style="width: fit-content; padding-bottom: 10px"
                >
                  <img
                    class="card-img-right"
                    src="../../../assets/shovel.png"
                    width="80px"
                    height="80px"
                  />
                </div>
                <div class="col" style="margin-right: 13px;">
                  <div class="card-text">
                    <h5 class="card-title" style="margin-right: 30px;">
                      {{ operation.Name }}
                    </h5>
                    <table>
                      <tr title="SAP ID" style="cursor: help">
                        <th><i class='fas fa-fingerprint'></i></th>
                        <td>{{ operation.Id }}</td>
                      </tr>
                      <tr title="Tip ATM" style="cursor: help">
                        <th><i class="fas fa-seedling"></i></th>
                        <td>{{ operation.Type }}</td>
                      </tr>
                      <tr title="Grupa ATM" style="cursor: help">
                        <th><i class="fas fa-cogs"></i></th>
                        <td>{{ operation.operationGroup }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" data-toggle="modal" data-target="#editOperationModal"
            (click)="getOperation(operation.id)" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>
<!--Edit operation modal-->
<div class="modal fade" id="editOperationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-cog"></i>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editOperationModalForm="ngForm">
          <div class="form-group">
            <label for="area"><i class="fas fa-seedling"></i> Tip ATM</label>
            <select id="" class="form-control" name="type" [(ngModel)]="operation.Type">
              <option value="RATARSTVO">
                RATARSTVO
              </option>
              <option value="VINOGRADARSTVO">
                VINOGRADARSTVO
              </option>
              <option value="VOĆARSTVO">
                VOĆARSTVO
              </option>
              <option value="POVRTARSTVO">
                POVRTARSTVO
              </option>
              <option value="STOČARSTVO">
                STOČARSTVO
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="fuel"><i class="fas fa-cogs"></i> Grupa ATM</label>
            <select id="" class="form-control" name="fuel" [(ngModel)]="operation.operationGroupId">
              <option value="{{ operationGroup.dbId }}" *ngFor="let operationGroup of operationGroups">
                {{ operationGroup.Name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="editOperation()">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>