.forma-filteri {
    width: 70%;
    font-size: 12px;
}

.tabela-nalozi {
    background: white;
    width: 100%;
    font-size: 12px;
}

.break-class {
    width: 100% !important;
    border-top: 2px solid #33490b !important;
    font-size: 12px;
}

h3 {
    color: #5C7495;
}

table, td, tr, th {
    text-align: center;
    font-size: medium;
    vertical-align: middle;
    font-size: 12px;
}

.info{
    background-color: #33490b;
    color: #f68901;
}

.edit{
    background-color: #ffc803;
    color: white;
}

.collapsing-button {
    width: fit-content;
    text-align: center;
    background-color: #73964a;
    border: none;
    box-shadow: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #33490b !important;
    -webkit-box-shadow: none;
}