<navbar></navbar>
<div class="container d-none d-md-block" style="padding-top: 70px;">
  <h3 class="mt-2 mb-2">Pregled naloga > <span *ngIf="my">Moji radni nalozi</span><span *ngIf="!my">Svi radni
      nalozi</span></h3>

  <button class="btn btn-primary collapsing-button mb-2 shadow-none" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collapse()" #openFilters>
    Filteri
    <i *ngIf="collapseBool" class="fa fa-arrow-down" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample"></i>
    <i *ngIf="!collapseBool" class="fa fa-arrow-up" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample"></i>
  </button>
  <br />
  <form action="" class="collapse mb-4" id="collapseExample">
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchNumber placeholder="Pretražite po šifri radnog naloga" id="sapId" 
          [(ngModel)]="filterSapNumber" (input)="onChangeSapId(searchNumber.value)" name="sapNo" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input ngbDatepicker #day="ngbDatepicker" (click)="day.toggle()" matInput #searchDate
            placeholder="Pretražite po datumu" id="date" (dateSelect)="onChangeDate(searchDate.value)"
            [(ngModel)]="filterWorkOrderDate" name="workOrderFilterDate"
            />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchTable placeholder="Pretražite po parceli" id="field" 
          (input)="onChangeField(searchTable.value)" [(ngModel)]="filterField" name="workOrderFilterField"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchCrop placeholder="Pretražite po usevu" id="crop" 
          (input)="onChangeCrop(searchCrop.value)" [(ngModel)]="filterCrop" name="workOrderFilterCrop"/>
        </mat-form-field>
      </div>

    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchOperation placeholder="Pretražite po operaciji" id="atm" 
          (input)="onChangeAtm(searchOperation.value)" [(ngModel)]="filterAtm" name="workOrderFilterAtm"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchResponsible placeholder="Pretražite po odgovornoj osobi" 
          id="responsiblePerson" (input)="onChangeResponsible(searchResponsible.value)"
          [(ngModel)]="filterResponsible" name="workOrderFilterResponsible"/>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="break-class pt-2 mb-4">
    <a [routerLink]="['/create/workOrder/new']" style="float: right">
      <button class="btn btn-primary collapsing-button shadow-none">
        <i class="fa fa-plus"></i> Kreiraj novi nalog
      </button>
    </a>
    <button *ngIf="my" class="btn btn-primary button-all shadow-none" style="float: left; width: 68px;"
      (click)="getAll()">
      <i class="fa fa-tasks"></i> Svi
    </button>
    <button *ngIf="!my" class="btn btn-primary button-all shadow-none" style="float: left; width: 68px;"
      (click)="getMyWorkOrders()">
      <i class="fa fa-tasks"></i> Moji
    </button>
    <button *ngIf="!my" class="btn btn-primary button-new shadow-none"
      style="margin-left: 10px; float: left; width: 68px;" (click)="getAllWorkOrdersByStatus('NEW')">
      <i class="fa fa-tasks"></i> Novi
    </button>
    <button *ngIf="!my" class="btn btn-primary button-in-progress shadow-none" style="margin-left: 10px; float: left"
      (click)="getAllWorkOrdersByStatus('IN_PROGRESS')">
      <i class="fa fa-tasks"></i> U radu
    </button>
    <button *ngIf="!my" class="btn btn-primary button-closed shadow-none" style="margin-left: 10px; float: left"
      (click)="getAllWorkOrdersByStatus('CLOSED')">
      <i class="fa fa-tasks"></i> Zatvoreni
    </button>
    <button *ngIf="!my" class="btn btn-primary button-cancellation shadow-none" style="margin-left: 10px; float: left"
      (click)="getAllWorkOrdersByStatus('CANCELLATION')">
      <i class="fa fa-tasks"></i> Stornirani
    </button>
    <button *ngIf="my" class="btn btn-primary button-new shadow-none"
      style="margin-left: 10px; float: left; width: 68px;" (click)="getMyWorkOrdersByStatus('NEW')">
      <i class="fa fa-tasks"></i> Novi
    </button>
    <button *ngIf="my" class="btn btn-primary button-in-progress shadow-none" style="margin-left: 10px; float: left"
      (click)="getMyWorkOrdersByStatus('IN_PROGRESS')">
      <i class="fa fa-tasks"></i> U radu
    </button>
    <button *ngIf="my" class="btn btn-primary button-closed shadow-none" style="margin-left: 10px; float: left"
      (click)="getMyWorkOrdersByStatus('CLOSED')">
      <i class="fa fa-tasks"></i> Zatvoreni
    </button>
    <button *ngIf="my" class="btn btn-primary button-cancellation shadow-none" style="margin-left: 10px; float: left"
      (click)="getMyWorkOrdersByStatus('CANCELLATION')">
      <i class="fa fa-tasks"></i> Stornirani
    </button>
  </div>
  <br />
  <div *ngIf="empty && !my && !loading" class="center">
    <img src="../../../assets/work-order-not-found.png" width="200px" height="200px" />
    <h4 style="text-align: center; width: 200px;">Nema kreiranih naloga</h4>
  </div>
  <div *ngIf="empty && my && !loading" class="center">
    <img src="../../../assets/work-order-not-found.png" width="200px" height="200px" />
    <h4 style="text-align: center; width: 200px;">Niste kreirali ni jedan nalog</h4>
  </div>
  <ng-container >
    
    <div class="table-responsive">
      <table *ngIf="!empty" class="table table-hover tabela-nalozi">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" style="cursor: pointer;" (click)="sortBySapId()">SAP ID <span *ngIf="desc"><i
                  class="fa fa-arrow-down"></i></span><span *ngIf="!desc"><i class="fa fa-arrow-up"></i></span></th>
            <th scope="col">ATM</th>
            <th scope="col">Datum</th>
            <th scope="col">Parcela</th>
            <th scope="col">Površina</th>
            <th scope="col">Obrađeno</th>
            <th scope="col">Usev</th>
            <th scope="col">Odgovorna osoba</th>
            <th scope="col">Status</th>
            <th scope="col">Kopiraj</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let workOrder of allWOResponse
              | SearchWorkOrderField: searchTable.value
              | SearchWorkOrderDay: searchDate.value
              | SearchWorkOrderCrop: searchCrop.value
              | SearchWorkOrderAtm: searchOperation.value
              | SearchWorkOrderNumber: searchNumber.value
              | SearchWorkOrderResponsible: searchResponsible.value
              | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
              let j = index" style="cursor: pointer">
            <th scope="row" (click)="changeRoute(workOrder.id)">{{ j + 1 }}</th>
            <td (click)="changeRoute(workOrder.id)">
              {{ workOrder.sapId }}
            </td>
            <td (click)="changeRoute(workOrder.id)">
              {{ workOrder.operationName }}
            </td>
            <td (click)="changeRoute(workOrder.id)">{{ workOrder.date }}</td>
            <td (click)="changeRoute(workOrder.id)">{{ workOrder.table }}</td>
            <td (click)="changeRoute(workOrder.id)">{{ workOrder.area }}ha</td>
            <td (click)="changeRoute(workOrder.id)">{{ workOrder.treated }}ha</td>
            <td (click)="changeRoute(workOrder.id)">
              {{ workOrder.cropName }}
            </td>
            <td (click)="changeRoute(workOrder.id)">
              {{ workOrder.responsibleName }}
            </td>
            <td [ngClass]="{
                statusNovi: workOrder.status == 'Novi',
                statusURadu: workOrder.status == 'U radu',
                statusZatvoren: workOrder.status == 'Zatvoren',
                statusStorniran: workOrder.status == 'Storniran'
              }" (click)="changeRoute(workOrder.id)">
              {{ workOrder.status }}
            </td>
            <td>
              <div class="form-group">
                <button class="btn btn-primary btn-add mr-2" data-toggle="modal" data-target="#copyModal"
                  style="float: center" (click)="getWorkOrderId(workOrder)">
                  <i class="fa fa-copy"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ngb-pagination *ngIf="!empty" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
    [boundaryLinks]="true" [collectionSize]="allWOResponse.length">
  </ngb-pagination>
  <ngx-spinner></ngx-spinner>
</div>
<!--Mobile version-->
<div class="container d-md-none">
  <div style="margin-top: 80px;"></div>
  <h3 class="mt-2 mb-2">Pregled naloga > <span *ngIf="my">Moji radni nalozi</span><span *ngIf="!my">Svi radni
      nalozi</span></h3>
  <a [routerLink]="['/create/workOrder/new']" style="float: right">
    <button class="btn btn-primary collapsing-button shadow-none">
      <i class="fa fa-plus"></i> Kreiraj novi nalog
    </button>
  </a>
  <button class="btn btn-primary collapsing-button mb-2 shadow-none" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collapse()">
    Filteri
    <i *ngIf="collapseBool" class="fa fa-arrow-down" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample"></i>
    <i *ngIf="!collapseBool" class="fa fa-arrow-up" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample"></i>
  </button>
  <br />
  <form action="" class="collapse mb-4" id="collapseExample">
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchNumberMob placeholder="Pretražite po šifri radnog naloga" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input ngbDatepicker #dayMob="ngbDatepicker" (click)="dayMob.toggle()" matInput #searchDateMob
            placeholder="Pretražite po datumu" />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchTableMob placeholder="Pretražite po parceli" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchCropMob placeholder="Pretražite po usevu" />
        </mat-form-field>
      </div>

    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchOperationMob placeholder="Pretražite po operaciji" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput #searchResponsibleMob placeholder="Pretražite po odgovornoj osobi" />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input type="text" matInput [matAutocomplete]="autoCulture" #searchStatus
            placeholder="Pretražite po statusu" />
          <mat-autocomplete #autoCulture="matAutocomplete" [displayWith]="displayFnStatus" place>
            <mat-option *ngFor="
                let stat of status 
                " [value]="stat">
              {{stat.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>
  <button *ngIf="my" class="btn btn-primary button-all shadow-none" style="float: left; width: 67px;"
    (click)="getAll()">
    <i class="fa fa-tasks"></i> Svi
  </button>
  <button *ngIf="!my" class="btn btn-primary button-all shadow-none" style="float: left; width: 67px;"
    (click)="getMyWorkOrders()">
    <i class="fa fa-tasks"></i> Moji
  </button>
  <div style="padding-top: 30px"></div>

  <ng-container *ngFor="let workOrder of allWOResponse
  | SearchWorkOrderField: searchTableMob.value
  | SearchWorkOrderDay: searchDateMob.value
  | SearchWorkOrderCrop: searchCropMob.value
  | SearchWorkOrderNumber: searchNumberMob.value
  | SearchWorkOrderResponsible: searchResponsibleMob.value
  | SearchWorkOrderAtm: searchOperationMob.value
  | SearchStatus: searchStatus.value
  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
   let j = index">
    <div *ngIf="workOrder === -1" class="centerMob">
      <img src="../../../assets/work-order-not-found.png" width="200px" height="200px" />
      <h4 style="text-align: center; width: 200px;">Nema kreiranih naloga</h4>
    </div>
    <div *ngIf="!empty && workOrder !== -1" class="card mb-3" (click)="changeRoute(workOrder.id)"
      style="border: 1px solid #5c7495; border-radius: 5px">
      <div class="card-body" style="background-color: #5c7495">
        <h5 class="card-title" style="color: white">
          <span style="float: center;">{{ workOrder.operation }}</span>
        </h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item">
            <i class="fa fa-hashtag" style="font-size: 15px; vertical-align: middle; color: #5c7495"></i>
            <span style="padding-left: 6px; vertical-align: middle">
              SAP ID: {{ workOrder.sapId }}</span>
          </li>
          <li class="list-group-item list-group-item">
            <i class="fa fa-user" style="font-size: 15px; vertical-align: middle; color: #5c7495"></i>
            <span style="padding-left: 6px; vertical-align: middle">
              Odgovorna osoba: {{ workOrder.responsiblePerson }}</span>
          </li>
          <li class="list-group-item list-group-item">
            <i class="fa fa-map-marker" style="font-size: 15px; vertical-align: middle; color: #5c7495"></i>
            <span style="padding-left: 9px; vertical-align: middle">
              Parcela i površina: {{ workOrder.field }} ({{ workOrder.area }} ha)
            </span>
          </li>
          <li class="list-group-item list-group-item">
            <i class="fa fa-calendar" style="font-size: 15px; vertical-align: middle; color: #5c7495"></i>
            <span style="padding-left: 3px; vertical-align: middle">
              Datum: {{ workOrder.date }}
            </span>
          </li>
          <li class="list-group-item list-group-item">
            <i class="fa fa-tasks"
              style="font-size: 15px; vertical-align: middle; color: #5c7495; margin-right: 4px;"></i>
            Status:
            <span style="padding-left: 3px; vertical-align: middle" [ngClass]="{
              statusNovi: workOrder.status == 'Novi',
              statusURadu: workOrder.status == 'U radu',
              statusZatvoren: workOrder.status == 'Zatvoren'
            }">
              <b>{{ workOrder.status }}</b></span>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ngb-pagination *ngIf="!empty" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
    [boundaryLinks]="true" [collectionSize]="allWOResponse.length">
  </ngb-pagination>
</div>

<!--Copy modal-->
<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          Da li ste sigurni da želite da kopirate radni nalog?
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeButtonMaterialModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #materialModalForm="ngForm">
          <table class="table table-borderless">
            <tr>
              <th style="text-align: left;"><i class="fa fa-slack mr-2"></i>Broj radnog naloga:</th>
              <td style="text-align: left;">{{workOrder.sapId}}</td>
            </tr>
            <tr>
              <th style="text-align: left;"><i class="fa fa-calendar mr-2"></i>Datum:</th>
              <td style="text-align: left;">{{workOrder.date}}</td>
            </tr>
            <tr>
              <th style="text-align: left;"><i class="fa fa-map-marker mr-2"></i>Parcela:</th>
              <td style="text-align: left;">{{workOrder.table}}</td>
            </tr>
            <tr>
              <th style="text-align: left;"><i class="fa fa-cubes mr-2"></i>Usev:</th>
              <td style="text-align: left;">{{workOrder.cropName}}</td>
            </tr>
            <tr>
              <th style="text-align: left;"><i class="fa fa-file mr-2"></i>ATM:</th>
              <td style="text-align: left;">{{workOrder.operationName}}</td>
            </tr>
            <tr>
              <th style="text-align: left;"><i class="fa fa-user mr-2"></i>Odgovorna osoba:</th>
              <td style="text-align: left;">{{workOrder.responsibleName}}</td>
            </tr>
          </table>
          <div class="break-class pt-2 mb-4"></div>
          <h5>Napravi kopiju za {{ copyDate | date: "dd.MM.yyyy." }}</h5>
          <div class="form-group">
            <label>
              <input type="radio" name="date" value="today" (change)="getDate($event.target.value)" checked />
              <span class="btn btn-primary btn-date mr-2">Danas</span>
            </label>
            <label>
              <input type="radio" name="date" value="tomorrow" (change)="getDate($event.target.value)" />
              <span class="btn btn-primary btn-date mr-2">Sutra</span>
            </label>
            <label>
              <input type="radio" name="date" value="some" ngbDatepicker #date="ngbDatepicker" (click)="date.toggle()"
                id="date" [(ngModel)]="model" (ngModelChange)="getDate(model)" />
              <span class="btn btn-primary btn-date mr-2">Drugi datum</span>
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="createWorkOrderCopy()">
          <i class="fa fa-copy"></i> Kopiraj
        </button>
      </div>
    </div>
  </div>
</div>