<main class="d-flex align-items-center min-vh-100 py-3 py-md-0" *ngIf="new">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../../assets/passwordReset.png" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/mk-agri-logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Promena lozinke</p>
              <form action="#!">
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control"
                    placeholder="Email adresa">
                </div>
                <div>
                    <p style="opacity: 0.5; text-align: center;">Unesite Vaš email, nakon toga pritisnite dugme 'Promeni lozinku' i pratite upustva koja 
                        će Vam stići na uneti email.
                    </p>
                </div>
                <input name="login" id="login" class="btn btn-block login-btn mb-4" (click)="requestResetPassword()" type="button"
                  value="Promeni lozinku">
              </form>
            </div>
          </div>
        </div>
        <ngx-spinner></ngx-spinner>
      </div>
    </div>
  </main>

  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0" *ngIf="!new">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="../../../assets/passwordReset.png" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/mk-agri-logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Promena lozinke</p>
              <form action="#!">
                <div class="form-group mb-4">
                    <label for="password" class="sr-only">Lozinka</label>
                    <input type="password" name="password" [(ngModel)]="password" id="password"
                      class="form-control" placeholder="Nova lozinka">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Ponovite lozinku</label>
                    <input type="password" name="password" [(ngModel)]="confirmPassword" id="password"
                      class="form-control" placeholder="Ponovite lozinku">
                  </div>
                  <div *ngIf="passwordFaild == true" style="color: red; font-weight: normal; font-size: 15px;">
                    <i class="fa fa-exclamation-triangle"></i> {{errorConfirm}}
                  </div>
                <input name="login" id="login" class="btn btn-block login-btn mb-4" (click)="confirmResetPassword()" type="button"
                  value="Promeni lozinku">
              </form>
            </div>
          </div>
        </div>
        <ngx-spinner></ngx-spinner>
      </div>
    </div>
  </main>
