.navigation{
    background-color: #33490b;   
}

.logo{
    max-height: 5vh;
}

a{
    color: #f68901 !important;
}

.dropdown-menu > a:hover{
    background-color: #72964a65 !important;
}