<nav class="navbar navbar-expand-lg navbar-light fixed-top navigation">
  <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/mk-agri.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span >
      <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Matični podaci
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/masterData/crop">Usevi</a>
          <a class="dropdown-item" href="#/masterData/machine">Mašine</a>
          <a class="dropdown-item" href="#/masterData/employee">Zaposleni</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#/masterData/fieldGroup">Potezi</a>
          <a class="dropdown-item" href="#/masterData/field">Parcele</a>
          <a class="dropdown-item" href="#/masterData/machineGroup">Grupe mašina</a>
          <a class="dropdown-item" href="#/masterData/operationGroup">Grupe ATM</a>
          <a class="dropdown-item" href="#/masterData/operation">ATM</a>
          <a class="dropdown-item" href="#/masterData/cultureGroup">Grupe kultura</a>
          <a class="dropdown-item" href="#/masterData/culture">Kulture</a>
          <a class="dropdown-item" href="#/masterData/variety">Sorte</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#/404">Pravna lica</a>
          <a class="dropdown-item" href="#/404">Radne jedinice</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Radni nalozi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/workOrder">Pregled naloga</a>
          <a class="dropdown-item" href="#/create/workOrder/new">Kreiranje naloga</a>
          <a class="dropdown-item" href="#/workOrder/closing">Zatvaranje naloga</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Izveštaji
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/workOrderReports">Izveštaji radnih naloga</a>
          <a class="dropdown-item" href="#/report/material">Učinak materijala</a>
          <a class="dropdown-item" href="#/report/employee">Učinak radnika</a>
          <a class="dropdown-item" href="#/report/machine">Učinak mašina</a>
          <a class="dropdown-item" href="#/report/atm">Učinak ATM</a>
          <a class="dropdown-item" href="#/yieldOverview">Pregled prinosa</a>
          <a class="dropdown-item" href="#/404">Kalkulacija CK</a>
        </div>
      </li>
    </ul>
    <div class="topnav-right">
      <a *ngIf="admin" href="#/settings" style="margin-left: 15px;"><i class="fa fa-cog fa-lg"></i></a>
      &nbsp;
      <a href="#/login" (click)="signout()"><i class="fa fa-sign-out fa-lg" title="Odjavite se"></i></a>
    </div>
  </div>
</nav>