<nav class="navbar navbar-expand-lg navbar-light navigation">
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/mk-agri.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Matični podaci
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Usevi</a>
              <a class="dropdown-item" href="#">Mašine</a>
              <a class="dropdown-item" href="#">Zaposleni</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Potezi</a>
              <a class="dropdown-item" href="#">Parcele</a>
              <a class="dropdown-item" href="#">Grupe mašina</a>
              <a class="dropdown-item" href="#">Grupe ATM</a>
              <a class="dropdown-item" href="#">ATM</a>
              <a class="dropdown-item" href="#">Grupe kultura</a>
              <a class="dropdown-item" href="#">Kulture</a>
              <a class="dropdown-item" href="#">Sorte</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Pravna lica</a>
              <a class="dropdown-item" href="#">Radne jedinice</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Radni nalozi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#/workOrder">Pregled naloga</a>
              <a class="dropdown-item" href="#/nalog">Kreiranje naloga</a>
              <a class="dropdown-item" href="#">Zatvaranje naloga</a>
            </div>
          </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Izveštaji
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Učinak operacija</a>
            <a class="dropdown-item" href="#">Učinak radnika</a>
            <a class="dropdown-item" href="#">Učinak mašina</a>
            <a class="dropdown-item" href="#">Pregled prinosa</a>
            <a class="dropdown-item" href="#">Kalkulacija CK</a>
          </div>
        </li>
 
      </ul>
    </div>
  </nav>