<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled parcela</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldFC" [matAutocomplete]="autoField" #searchField
             placeholder="Pretražite po nazivu ili šifri parcele"/>
            <mat-autocomplete #autoField="matAutocomplete" [displayWith]="displayFnField" place>
              <mat-option *ngFor="
                let field of fields | SearchFields: searchField.value
                " [value]="field" >
                {{field.Id}} - {{ field.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="row card-group">
      <div class="col-4" *ngFor="let field of fields | SearchFields: searchField.value; let j = index">
        <div class="card mb-4" style="width: 30rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-bottom: 10px">
                <img class="card-img-right" src="../../../assets/field1.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ field.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ field.Id }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td title="Površina">{{ field.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ field.Year }}</td>
                    </tr>
                    <tr title="Potez" style="cursor: help">
                      <th><i class="fa fa-area-chart"></i></th>
                      <td>{{ field.fieldGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getField(field.dbId)" data-toggle="modal"
            data-target="#editFieldModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
          <button class="buttonEdit btn btn-primary btn-map" (click)="getField(field.dbId)" data-toggle="modal"
            data-target="#mapFieldModal" title="Vidi parcelu na mapi">
            <i class="fa fa-globe"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tablet version-->
<div class="d-none d-md-block d-lg-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled parcela</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-4">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldFC" [matAutocomplete]="autoFieldTablet" #searchFieldTablet
             placeholder="Pretražite po nazivu ili šifri parcele"/>
            <mat-autocomplete #autoFieldTablet="matAutocomplete" [displayWith]="displayFnField" place>
              <mat-option *ngFor="
                let field of fields | SearchFields: searchFieldTablet.value
                " [value]="field" >
                {{field.Id}} - {{ field.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="row card-group">
      <div class="col-5" *ngFor="let field of fields | SearchFields: searchFieldTablet.value; let j = index">
        <div class="card mb-3" style="width: 23rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img class="card-img-right" src="../../../assets/field1.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ field.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ field.Id }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td title="Površina">{{ field.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ field.Year }}</td>
                    </tr>
                    <tr title="Potez" style="cursor: help">
                      <th><i class="fa fa-area-chart"></i></th>
                      <td>{{ field.fieldGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getField(field.dbId)" data-toggle="modal"
            data-target="#editFieldModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--laptop version-->
<div class="d-none d-lg-block d-xl-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled parcela</h3>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <div class="form-row">
      <div class="col-3">
        <form>
          <mat-form-field class="inputAuto">
            <input type="text" matInput [formControl]="fieldFC" [matAutocomplete]="autoFieldLaptop" #searchFieldLaptop
             placeholder="Pretražite po nazivu ili šifri parcele"/>
            <mat-autocomplete #autoFieldLaptop="matAutocomplete" [displayWith]="displayFnField" place>
              <mat-option *ngFor="
                let field of fields | SearchFields: searchFieldLaptop.value
                " [value]="field" >
                {{field.Id}} - {{ field.Name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="row card-group">
      <div class="col-4" *ngFor="let field of fields | SearchFields: searchFieldLaptop.value; let j = index">
        <div class="card mb-3" style="width: 25rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img class="card-img-right" src="../../../assets/field1.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ field.Name }}
                  </h5>
                  <table>
                    <tr title="SAP ID" style="cursor: help">
                      <th><i class='fas fa-fingerprint'></i></th>
                      <td>{{ field.Id }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td title="Površina">{{ field.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ field.Year }}</td>
                    </tr>
                    <tr title="Potez" style="cursor: help">
                      <th><i class="fa fa-area-chart"></i></th>
                      <td>{{ field.fieldGroupName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getField(field.dbId)" data-toggle="modal"
            data-target="#editFieldModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
          <button class="buttonEdit btn btn-primary btn-map" (click)="getField(field.dbId)" data-toggle="modal"
          data-target="#mapFieldModal" title="Vidi parcelu na mapi" hidden>
          <i class="fa fa-globe"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Edit field modal-->
<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-database mr-2"></i> {{ field.Name }}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editFieldModalForm="ngForm">
          <div class="form-group">
            <label for="area"><i class="fa fa-clone"></i> Površina</label>
            <div class="input-group mb-3">
              <input [(ngModel)]="field.Area" type="number" name="area" class="form-control" id="" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">h</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="year"><i class="fa fa-calendar"></i> Godina</label>

            <input [(ngModel)]="field.Year" type="number" name="year" class="form-control" id="" />
          </div>
          <div class="form-group">
            <label for="potez"><i class="fa fa-area-chart"></i> Potez</label>
            <select id="" class="form-control" name="potez" [(ngModel)]="field.fieldGroup">
              <option value="{{ fieldGroup.dbId }}" *ngFor="let fieldGroup of fieldGroups">
                {{ fieldGroup.Name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="editField()">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>
  <!--Map field modal-->
<div class="modal fade" id="mapFieldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-database mr-2"></i> {{ field.Name }}
        </h4>
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 *ngIf="field.coordinates.length == 0">Parcela nije ucrtana na mapi. Klikom na dugme <img src="../../../assets/drawImage.png"/>  možete ucrtati parcelu.</h5>
        <h5 *ngIf="field.coordinates.length != 0"><i class="fa fa-area-chart"></i> {{field.Area}} &#13217;</h5>
        <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)" [mapTypeControl]="true"
          disableDoubleClickZoom="true" mapTypeId='hybrid' [zoom]=15 (mapClick)="onChoseLocation($event)">
          <agm-polygon *ngIf="clickedOnField" [paths]="paths" [strokeColor]="'red'" [strokeWeight]="4" [clickable]="false" [fillColor]="'#5C7495'">
            <agm-info-window [disableAutoPan]="false" [isOpen]="true" #infoWindow><h2>Test</h2></agm-info-window>
          </agm-polygon>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="background-color: #f68901"
        (click)="dismissPolygon()">
          <i class="fa fa-window-close"></i> Poništi ucrtano
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="setPolygon(field.dbId)">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>