<navbar></navbar>
<div style="margin-top: 50px;"></div>
<div class="container">
  <div style="padding-top: 10px"></div>
  <h3 class="mt-2 mb-2">Mašine</h3>
  <div style="padding-top: 10px"></div>
  <button class="btn btn-primary collapsing-button mb-2 shadow-none" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collapse()">
    Filteri
    <i *ngIf="collapseBool" class="fa fa-arrow-down" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
    <i *ngIf="!collapseBool" class="fa fa-arrow-up" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
  </button>
  <br />
  <form action="" class="collapse mb-4" id="collapseExample">
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchWorkOrder
            placeholder="Pretražite po broju naloga"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchMachine
            placeholder="Pretražite po mašini"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #od="ngbDatepicker" 
            (click)="od.toggle()"
            matInput 
            #searchDateFrom
            placeholder="Pretražite po datumu od"
            [(ngModel)]="dates.dateFrom"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
        -
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #do="ngbDatepicker" 
            (click)="do.toggle()"
            matInput 
            #searchDateTo
            placeholder="Pretražite po datumu do"
            [(ngModel)]="dates.dateTo"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            ngbDatepicker 
            #day="ngbDatepicker" 
            (click)="day.toggle()"
            matInput 
            #searchDate
            placeholder="Pretražite po danu"
          />
        </mat-form-field>
      </div>
      
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchOperation
            placeholder="Pretražite po agrotehničkoj meri"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchCouplingMachine
            placeholder="Pretražite po priključnoj mašini"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchCrop
            placeholder="Pretražite po usevu"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchTable
            placeholder="Pretražite po parceli"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="break-class pt-2 mb-4"></div>
  <div *ngIf="machines.length == 0 && loading == false" class="center">
    <img src="../../../assets/report-not-found.png" width="200px" height="200px" />
    <h4 style="text-align: center; width: 200px; padding-top: 5px;">Izveštaj nije pronađen</h4>
  </div>
  <div class="table-responsive">
    <table *ngIf="machines.length > 0" class="table table-hover tabela-nalozi table-fixed">
      <thead>
        <tr >
          <th scope="col" style="vertical-align: middle;">Mašina</th>
          <th scope="col" style="vertical-align: middle;">SAP ID</th>
          
          <th scope="col" style="vertical-align: middle;">Datum</th>
          
          <th scope="col" style="vertical-align: middle;">Utrošak MČ</th>
          <th scope="col" style="vertical-align: middle;">Utrošak goriva</th>
         
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let machine of machines | ReportMachineMachine: searchMachine.value | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; 
          let i = index" >
          <tr *ngIf="machine === -1">
            <td colspan="11" >
              <img src="../../../assets/report-not-found.png" width="200px" height="200px"/>
              <h4 style="text-align: center; width: 200px; margin-left: auto; margin-right: auto;">Izveštaj nije pronađen</h4>
            </td>
          </tr>
          
            <tr *ngFor="let workOrder of machine.workOrders 
                | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value
                | SearchWoBetweenDates: filters
                | SearchMachineCoupling: searchCouplingMachine.value; 
                let j = index">
              <td *ngIf="j==0; else elseBlockName" style="font-weight: bold;">{{machine.machine}}</td>
              <ng-template #elseBlockName><td></td></ng-template>
              <td (click)="changeRoute(workOrder.split(',')[0])" style="cursor: pointer;" >
                {{ workOrder.split(",")[2] }}
              </td>
              <td>{{ workOrder.split(",")[4] | date:'dd.MM.yyyy.' }}</td>
              <td >{{ workOrder.split(",")[1] }} MČ</td>
              <td >{{ workOrder.split(",")[3] }} l</td>
            </tr>
            <tr>           
              <td >Σ {{ machine.machine }}</td>
              <td ></td>
              <td></td>
              
              <td style="font-weight: bold;" >
                {{
                  getFinalMachineSum(machine.workOrders 
                  | SearchWorkOrdersCrop: searchCrop.value
                  | SearchWorkOrdersTable: searchTable.value
                  | SearchWorkOrdersOperation: searchOperation.value
                  | SearchWorkOrdersDate: searchDate.value
                  | ReportMaterialSapId: searchWorkOrder.value
                  | SearchWoBetweenDates: filters
                  | SearchMachineCoupling: searchCouplingMachine.value)
                }}
              </td>
              <td style="font-weight: bold;">
                {{
                  getFuelSum(machine.workOrders 
                  | SearchWorkOrdersCrop: searchCrop.value
                  | SearchWorkOrdersTable: searchTable.value
                  | SearchWorkOrdersOperation: searchOperation.value
                  | SearchWorkOrdersDate: searchDate.value
                  | ReportMaterialSapId: searchWorkOrder.value
                  | SearchWoBetweenDates: filters
                  | SearchMachineCoupling: searchCouplingMachine.value)
                }}
              </td>
              
            </tr>
           
        </ng-container>
      </tbody>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
    [boundaryLinks]="true" [collectionSize]="machines.length">
  </ngb-pagination>
  </div>
  <ngx-spinner></ngx-spinner>
</div>