<div class="container d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <h3 class="mt-2 mb-2">Materijali</h3>
  <div style="padding-top: 10px"></div>
  <div class="break-class pt-2 mb-4"></div>
  <table class="table table-hover tabela-nalozi">
    <thead>
      <tr>
        <th scope="col">Materijal</th>
        <th scope="col">SAP ID</th>
        <th scope="col">Operacija</th>
        <th scope="col">Datum</th>
        <th scope="col">Parcela</th>
        <th scope="col">Usev</th>
        <th scope="col">Planirano</th>
        <!-- <th scope="col">Planirano/ha</th> -->
        <th scope="col">Utrošeno</th>
        <!-- <th scope="col">Utrošeno/ha</th> -->
        <th scope="col">JM</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let material of materials; let i = index" >
        <tr>
          <td style="font-weight: bold;">{{ material.material.material.Name }}</td>
        <tr>
        <tr *ngFor="let workOrder of material.workOrders; let j = index">
          <ng-container *ngFor="let mat of workOrder.materials">
          <td></td>
          <td (click)="changeRoute(workOrder.id)" style="cursor: pointer;">{{ workOrder.sapId }}</td>
          <td>{{ workOrder.operationName }}</td>
          <td>{{ workOrder.date }}</td>
          <td>{{ workOrder.table }}</td>
          <td>{{ workOrder.cropName.split(",")[1] }}</td>
          <td *ngIf="mat.quantity != -1; else elseQuantity">{{ mat.quantity }}</td>
          <ng-template #elseQuantity><td>/</td></ng-template>
          <!-- <td *ngIf="mat.quantityPerHectar != -1; else elseQuantityPerHectar">{{ mat.quantityPerHectar | number:'0.0-3' }}</td> -->
          <!-- <ng-template #elseQuantityPerHectar><td>Nije uneto</td></ng-template> -->
          <td *ngIf="mat.spent != -1; else elseSpent">{{ mat.spent }}</td>
          <ng-template #elseSpent><td>Nije uneto</td></ng-template>
          <!-- <td *ngIf="mat.spentPerHectar != -1; else elseSpentPerHectar">{{ mat.spentPerHectar | number:'0.0-3' }}</td> -->
          <!-- <ng-template #elseSpentPerHectar><td>Nije uneto</td></ng-template> -->
          <td>{{ material.material.material.Unit }}</td>
          <td [ngClass]="{
              statusNovi: workOrder.status == 'Novi',
              statusURadu: workOrder.status == 'U radu',
              statusZatvoren: workOrder.status == 'Zatvoren'
              }" 
          >
            {{ workOrder.status }}
          </td>
        </ng-container>
        </tr>
        <tr>
          <td>Σ {{ material.material.material.Name }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-weight: bold;">{{material.sumQuantity.sum}}</td>
          <td style="font-weight: bold;">{{material.sumSpent.sum}}</td>
          <td style="font-weight: bold;">{{ material.material.material.Unit }}</td>
          <td></td>
          <td></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>