<div class="container">
  <div style="padding-top: 10px"></div>
  <h3 class="mt-2 mb-2">Materijali</h3>
  <div style="padding-top: 10px"></div>
  <button class="btn btn-primary collapsing-button mb-2 shadow-none" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collapse()">
    Filteri
    <i *ngIf="collapseBool" class="fa fa-arrow-down" (click)="collapse()"></i>
    <i *ngIf="!collapseBool" class="fa fa-arrow-up" (click)="collapse()"></i>
  </button>
  <br />
  <form action="" class="collapse mb-4" id="collapseExample">
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchWorkOrder
            placeholder="Pretražite po broju naloga"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchMaterial
            placeholder="Pretražite po materijalu"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #od="ngbDatepicker" 
            (click)="od.toggle()"
            matInput 
            #searchDateFrom
            [(ngModel)]="dates.dateFrom"
            placeholder="Pretražite po datumu od"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
        -
        <mat-form-field class="inputAuto customMatInput">
          <input 
            ngbDatepicker 
            #do="ngbDatepicker" 
            (click)="do.toggle()"
            matInput 
            #searchDateTo
            placeholder="Pretražite po datumu do"
            [(ngModel)]="dates.dateTo"
            (ngModelChange)="updateFilters()"
            [ngModelOptions]="{standalone: true}"
          />
        </mat-form-field>
      </div>
     <div class="col">
      <mat-form-field class="inputAuto">
        <input 
          ngbDatepicker 
          #day="ngbDatepicker" 
          (click)="day.toggle()"
          matInput 
          #searchDate
          placeholder="Pretražite po danu"
        />
      </mat-form-field>
     </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchOperation
            placeholder="Pretražite po agrotehničkoj meri"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchUnit
            placeholder="Pretražite po jedinici mere"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchCrop
            placeholder="Pretražite po usevu"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="inputAuto">
          <input 
            type="text" 
            matInput 
            #searchTable
            placeholder="Pretražite po parceli"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="break-class pt-2 mb-4"></div>
  <table class="table table-hover tabela-nalozi">
    <thead>
      <tr>
        <th scope="col">Materijal</th>
        <th scope="col">SAP ID</th>
        <th scope="col">ATM</th>
        <th scope="col">Datum</th>
        <th scope="col">Parcela</th>
        <th scope="col">Usev</th>
        <th scope="col">Planirano</th>
        <!-- <th scope="col">Planirano/ha</th> -->
        <th scope="col">Utrošeno</th>
        <!-- <th scope="col">Utrošeno/ha</th> -->
        <th scope="col">JM</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let material of materials 
        | ReportMaterialMaterial: searchMaterial.value
        | SearchMaterialUnit: searchUnit.value;
          let i = index" >
        <tr *ngFor="let workOrder of material.workOrders
          | SearchWorkOrdersTable: searchTable.value
          | SearchWorkOrdersOperation: searchOperation.value
          | SearchWorkOrdersDate: searchDate.value
          | SearchWorkOrdersCrop: searchCrop.value
          | ReportMaterialSapId: searchWorkOrder.value
          | SearchWoBetweenDates: filters; 
          let j = index">
          <ng-container *ngFor="let mat of workOrder.materials">
          <td *ngIf="j==0; else elseBlockName" style="font-weight: bold;">{{mat.material.Name}}</td>
          <ng-template #elseBlockName><td></td></ng-template>
          <td (click)="changeRoute(workOrder.id)" style="cursor: pointer;">{{ workOrder.sapId }}</td>
          <td>{{ workOrder.operationName }}</td>
          <td>{{ workOrder.date }}</td>
          <td>{{ workOrder.table }}</td>
          <td>{{ workOrder.cropName.split(",")[1] }}</td>
          <td *ngIf="mat.quantity != -1; else elseQuantity">{{ mat.quantity }}</td>
          <ng-template #elseQuantity><td>/</td></ng-template>
          <!-- <td *ngIf="mat.quantityPerHectar != -1; else elseQuantityPerHectar">{{ mat.quantityPerHectar | number:'0.0-3' }}</td> -->
          <!-- <ng-template #elseQuantityPerHectar><td>Nije uneto</td></ng-template> -->
          <td *ngIf="mat.spent != -1; else elseSpent">{{ mat.spent }}</td>
          <ng-template #elseSpent><td>Nije uneto</td></ng-template>
          <!-- <td *ngIf="mat.spentPerHectar != -1; else elseSpentPerHectar">{{ mat.spentPerHectar | number:'0.0-3' }}</td> -->
          <!-- <ng-template #elseSpentPerHectar><td>Nije uneto</td></ng-template> -->
          <td>{{ material.material.material.Unit }}</td>
          <td [ngClass]="{
              statusNovi: workOrder.status == 'Novi',
              statusURadu: workOrder.status == 'U radu',
              statusZatvoren: workOrder.status == 'Zatvoren'
              }" 
          >
            {{ workOrder.status }}
          </td>
        </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let workOrder of material.workOrders 
            | SearchWorkOrdersCrop: searchCrop.value
            | SearchWorkOrdersTable: searchTable.value
            | SearchWorkOrdersOperation: searchOperation.value
            | SearchWoBetweenDates: filters
            | SearchWorkOrdersDate: searchDate.value
            | ReportMaterialSapId: searchWorkOrder.value; 
            let i = index ">
            <td *ngIf="i==0">Σ {{ material.material.material.Name }}</td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
            <td style="font-weight: bold;" *ngIf="i==0">
              {{
                getQuantitySum(material.workOrders 
                | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWoBetweenDates: filters
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value)
              }}
            </td>
            <td style="font-weight: bold;" *ngIf="i==0">
              {{
                getSpentSum(material.workOrders 
                | SearchWorkOrdersCrop: searchCrop.value
                | SearchWorkOrdersTable: searchTable.value
                | SearchWorkOrdersOperation: searchOperation.value
                | SearchWoBetweenDates: filters
                | SearchWorkOrdersDate: searchDate.value
                | ReportMaterialSapId: searchWorkOrder.value)
              }}
            </td>
            <td style="font-weight: bold;" *ngIf="i==0">{{ material.material.material.Unit }}</td>
            <td *ngIf="i==0"></td>
            <td *ngIf="i==0"></td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>