<navbar></navbar>
<div class="d-none d-xl-block">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled useva</h3>
    <div style="padding-top: 20px"></div>

    <div class="form-row">
      <div class="col-3">
        <label><i class="fa fa-map-marker"></i> Parcela </label>
        <div class="input-group mb-3">
          <select name="table" class="form-control" id="" [(ngModel)]="selectedTable" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ table.dbId }}" *ngFor="let table of fields">
              {{ table.Name }}
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedTable != undefined">
            <span *ngIf="selectedTable != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedTable()" style="cursor: pointer" title="Poništi odabranu tablu">x</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <label><i class="fa fa-cubes"></i> Kultura </label>
        <div class="input-group mb-3">
          <select name="culture" class="form-control" id="" [(ngModel)]="selectedCulture" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ culture.dbId }}" *ngFor="let culture of cultures">
              {{ culture.Name }} ({{ culture.cultureGroupName }})
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedCulture != undefined">
            <span *ngIf="selectedCulture != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedCulture()" style="cursor: pointer" title="Poništi odabranu kulturu">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <h5 *ngIf="crops.length == 0">
      Nema useva za prikazivanje.
    </h5>
    <div class="row card-group">
      <div class="col-4" *ngFor="let crop of crops; let j = index">
        <div class="card mb-3" style="width: 30.8rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img class="card-img-right" src="../../../assets/crop.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ crop.Name }}
                  </h5>
                  <table>
                    <tr title="Parcela" style="cursor: help">
                      <th><i class="fa fa-map-marker"></i></th>
                      <td>{{ crop.field }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td>{{ crop.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ crop.Year }}</td>
                    </tr>
                    <tr title="Kultura" style="cursor: help">
                      <th><i class="fa fa-cubes"></i></th>
                      <td>{{ crop.cultureName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getCropForEdit(crop.id)" data-toggle="modal"
            data-target="#editCropModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--tablet version-->
<div class="d-none d-md-block d-lg-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled useva</h3>
    <div style="padding-top: 20px"></div>

    <div class="form-row">
      <div class="col-3">
        <label><i class="fa fa-map-marker"></i> Parcela </label>
        <div class="input-group mb-3">
          <select name="table" class="form-control" id="" [(ngModel)]="selectedTable" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ table.dbId }}" *ngFor="let table of fields">
              {{ table.Name }}
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedTable != undefined">
            <span *ngIf="selectedTable != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedTable()" style="cursor: pointer" title="Poništi odabranu tablu">x</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <label><i class="fa fa-cubes"></i> Kultura </label>
        <div class="input-group mb-3">
          <select name="culture" class="form-control" id="" [(ngModel)]="selectedCulture" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ culture.dbId }}" *ngFor="let culture of cultures">
              {{ culture.Name }} ({{ culture.cultureGroupName }})
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedCulture != undefined">
            <span *ngIf="selectedCulture != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedCulture()" style="cursor: pointer" title="Poništi odabranu kulturu">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <h5 *ngIf="crops.length == 0">
      Nema useva za prikazivanje.
    </h5>
    <div class="row card-group">
      <div class="col-7" *ngFor="let crop of crops; let j = index">
        <div class="card mb-3" style="width: 30.8rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img class="card-img-right" src="../../../assets/crop.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ crop.Name }}
                  </h5>
                  <table>
                    <tr title="Parcela" style="cursor: help">
                      <th><i class="fa fa-map-marker"></i></th>
                      <td>{{ crop.field }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td>{{ crop.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ crop.Year }}</td>
                    </tr>
                    <tr title="Kultura" style="cursor: help">
                      <th><i class="fa fa-cubes"></i></th>
                      <td>{{ crop.cultureName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getCropForEdit(crop.id)" data-toggle="modal"
            data-target="#editCropModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--laptop version-->
<div class="d-none d-lg-block d-xl-none">
  <div style="padding-top: 10px"></div>
  <div class="container">
    <h3 class="mt-2 mb-2">Pregled useva</h3>
    <div style="padding-top: 20px"></div>

    <div class="form-row">
      <div class="col-3">
        <label><i class="fa fa-map-marker"></i> Parcela </label>
        <div class="input-group mb-3">
          <select name="table" class="form-control" id="" [(ngModel)]="selectedTable" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ table.dbId }}" *ngFor="let table of fields">
              {{ table.Name }}
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedTable != undefined">
            <span *ngIf="selectedTable != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedTable()" style="cursor: pointer" title="Poništi odabranu tablu">x</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <label><i class="fa fa-cubes"></i> Kultura </label>
        <div class="input-group mb-3">
          <select name="culture" class="form-control" id="" [(ngModel)]="selectedCulture" (change)="getCrops()">
            <option value="-1"></option>
            <option value="{{ culture.dbId }}" *ngFor="let culture of cultures">
              {{ culture.Name }} ({{ culture.cultureGroupName }})
            </option>
          </select>
          <div class="input-group-append" *ngIf="selectedCulture != undefined">
            <span *ngIf="selectedCulture != -1" class="input-group-text" id="basic-addon2"
              (click)="setValueForSelectedCulture()" style="cursor: pointer" title="Poništi odabranu kulturu">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px"></div>
  <div class="container">
    <h5 *ngIf="crops.length == 0">
      Nema useva za prikazivanje.
    </h5>
    <div class="row card-group">
      <div class="col-5" *ngFor="let crop of crops; let j = index">
        <div class="card mb-3" style="width: 30.8rem">
          <div class="card-body">
            <div class="row">
              <div class="col-md-auto" style="width: fit-content; padding-top: 12px">
                <img class="card-img-right" src="../../../assets/crop.png" width="80px" height="80px" />
              </div>
              <div class="col">
                <div class="card-text">
                  <h5 class="card-title">
                    {{ crop.Name }}
                  </h5>
                  <table>
                    <tr title="Parcela" style="cursor: help">
                      <th><i class="fa fa-map-marker"></i></th>
                      <td>{{ crop.field }}</td>
                    </tr>
                    <tr title="Površina" style="cursor: help">
                      <th><i class="fa fa-clone"></i></th>
                      <td>{{ crop.Area }} ha</td>
                    </tr>
                    <tr title="Godina" style="cursor: help">
                      <th><i class="fa fa-calendar mr-2"></i></th>
                      <td>{{ crop.Year }}</td>
                    </tr>
                    <tr title="Kultura" style="cursor: help">
                      <th><i class="fa fa-cubes"></i></th>
                      <td>{{ crop.cultureName }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button class="buttonEdit btn btn-primary btn-edit" (click)="getCropForEdit(crop.id)" data-toggle="modal"
            data-target="#editCropModal" hidden>
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Edit crop modal-->
<div class="modal fade" id="editCropModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" *ngIf="crop.Name != null">
          <i class="fa fa-envira"></i>
          {{ crop.Name.split(",")[1] }}
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editFieldModalForm="ngForm">
          <div class="form-group">
            <label for="location"><i class="fa fa-map-marker"></i> Tabla</label>
            <select id="" class="form-control" name="table" [(ngModel)]="crop.fieldId">
              <option value="{{ field.dbId }}" *ngFor="let field of fields">
                {{ field.Name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="area"><i class="fa fa-clone"></i> Površina</label>
            <div class="input-group mb-3">
              <input type="number" name="area" class="form-control" id="" [(ngModel)]="crop.Area" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">h</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="year"><i class="fa fa-calendar"></i> Godina</label>

            <input type="number" name="year" class="form-control" id="" [(ngModel)]="crop.Year" />
          </div>
          <div class="form-group">
            <label for="culture"><i class="fa fa-cubes"></i> Kultura</label>
            <select id="" class="form-control" name="culture" [(ngModel)]="crop.cultureId">
              <option value="{{ culture.dbId }}" *ngFor="let culture of cultures">
                {{ culture.Name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #f68901">
          <i class="fa fa-window-close"></i> Odustani
        </button>
        <button type="button" class="btn btn-success" style="background-color: #33590b" data-dismiss="modal"
          (click)="editCrop()">
          <i class="fa fa-save"></i> Sačuvaj
        </button>
      </div>
    </div>
  </div>
</div>