td {
    padding-left: 6px;
}

.btn {
    margin-left: 4px;
    margin-right: 4px;
}

.bootstrap-timer {
    color: #303030;
    background-color: #eee;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
}