<div class="container">
    <div>
        <h2 style="margin-bottom: 30px;">Pregled radnog naloga</h2>
        <table>
            <tr>
                <th>
                    <h5>Radni nalog:</h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.workOrderSapId}}, 
                        {{workerTimeTracking.headerInfo.workOrderDate | date:'dd.mm.yyyy.'}}
                    </h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>Izvršilac:</h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.worker}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>Parcela/usev:</h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.crop}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>ATM:</h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.operation}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>Status:</h5>
                </th>
                <td>
                    <h5><b>{{status}}</b></h5>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="row" [ngStyle]="{'visibility':isTicking == true ? 'visible' : 'hidden' }">
        <div class="col-6 ">
            <cd-timer format="hms" class="bootstrap-timer" #basicTimer [autoStart]="false" [startTime]="startTime">
            </cd-timer>
        </div>
    </div>

    <div class="d-inline">
        <button class="btn btn-success" *ngIf="startFlag" (click)="startTimer()">Start</button>
        <button class="btn btn-warning" *ngIf="pauseFlag" data-toggle="modal" data-target="#exampleModal">Pauza</button>
        <button class="btn btn-info" *ngIf="continueFlag" (click)="continueTimer()">Nastavak rada</button>
        <button class="btn btn-danger" *ngIf="endFlag" (click)="endTimer()">Završi</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Izaberite tip pauze</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tip pauze</label>
                    <select [formControl]="pause" class="form-control" id="exampleFormControlSelect1">
                        <option value="PAUSE_WORK">Pauza za odmor</option>
                        <option value="PAUSE_SERVICE">Servisna pauza</option>
                        <option value="PAUSE_FUEL">Sipanje goriva</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pauseTimer()">Startuj
                    pauzu</button>
            </div>
        </div>
    </div>
</div>