<app-navbar-tractor-driver></app-navbar-tractor-driver>
<div class="container">
    <div>
        <h3 style="margin-top: 70px; margin-bottom: 30px;">Pregled radnog naloga</h3>
        <table>
            <tr>
                <th>
                    <h5>
                        <i class="fa fa-tasks"></i> <span style="padding-left: 5px;">Radni nalog:</span>
                    </h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.workOrderSapId}},
                        {{workerTimeTracking.headerInfo.workOrderDate | date:'dd.MM.yyyy.'}}
                    </h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>
                        <i class="fa fa-user"></i> <span style="padding-left: 7px;">Izvršilac:</span>
                    </h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.worker}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>
                        <i class="fa fa-map-marker"></i> <span style="padding-left: 8px;">Parcela/usev:</span>
                    </h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.crop}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5>
                        <i class="fa fa-file mr-2"></i> <span style="padding-left: 4px;">ATM:</span>
                    </h5>
                </th>
                <td>
                    <h5>{{workerTimeTracking.headerInfo.operation}}</h5>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="padding-top: 20px;"></div>
<div class="container">
    <div *ngIf="isTicking" style="text-align: center;">
        <h4 [ngClass]="[
            status == 'U radu' ? 'statusInProgress' : '',
            status == 'Pauza za gorivo' ? 'statusPause' : '',
            status == 'Servisna pauza' ? 'statusPause' : '',
            status == 'Pauza za odmor' ? 'statusPause' : '',
            status == 'Završeno' ? 'statusFinished' : ''
          ]">{{status}}</h4>
    </div>
    <div class="row" [ngStyle]="{'visibility':isTicking == true ? 'visible' : 'hidden' }">
        <div class="col d-flex justify-content-around">
            <cd-timer format="hms" [ngClass]="[
            status == 'U radu' ? 'bootstrap-timerInProgress' : '',
            status == 'Pauza za gorivo' ? 'bootstrap-timerPause' : '',
            status == 'Servisna pauza' ? 'bootstrap-timerPause' : '',
            status == 'Pauza za odmor' ? 'bootstrap-timerPause' : '',
            status == 'Završeno' ? 'bootstrap-timerFinished' : ''
          ]" #basicTimer [autoStart]="false" [startTime]="startTime">
            </cd-timer>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <button class="btn btn-success" style="background-color: #ffc803; border: none; width: 50%;" *ngIf="backFlag"
            (click)="goBack()">
            <i class="fa fa-arrow-left"></i> Radni nalozi
        </button>
        <button class="btn btn-success" style="background-color: #33490b; border: none; width: 50%;" *ngIf="startFlag"
            (click)="startTimer()">
            <i class="fa fa-play"></i> Start
        </button>
        <button class="btn btn-warning" style="background-color: #f68901; border: none; color: white; width: 50%;" *ngIf="pauseFlag"
            data-toggle="modal" data-target="#exampleModal" (click)="setPuase()">
            <i class="fa fa-pause"></i> Pauza
        </button>
        <button class="btn btn-info" style="background-color: #5c7495; border: none; width: 50%;" *ngIf="continueFlag"
            (click)="continueTimer()">
            <i class="fa fa-repeat"></i> Nastavak rada
        </button>
        <button class="btn btn-danger" style="background-color: #bd362f; border: none; width: 50%;" *ngIf="endFlag"
            (click)="endTimer()">
            <i class="fa fa-stop"></i> Završi
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Izaberite tip pauze</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">
                            <label>
                                <input type="radio" name="pause" (change)="getPause($event.target.value)"
                                    value="PAUSE_WORK" />
                                <span class="btn btn-primary btn-date mr-2" style="width: 150px; text-align: center;">
                                    <i class="fas fa-undo"></i> Pauza za odmor
                                </span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="radio" name="pause" (change)="getPause($event.target.value)"
                                    value="PAUSE_SERVICE" />
                                <span class="btn btn-primary btn-date mr-2" style="width: 150px;">
                                    <i class="fas fa-screwdriver"></i> Servisna pauza
                                </span>
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="radio" name="pause" (change)="getPause($event.target.value)"
                                    value="PAUSE_FUEL" />
                                <span class="btn btn-primary btn-date mr-2" style="width: 150px;">
                                    <i class="fas fa-gas-pump"></i> Sipanje goriva
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    style="background-color: #f68901; border: none">
                    <i class="fa fa-window-close"></i> Odustani
                </button>
                <button type="button" class="btn btn-success" style="background-color: #33590b; border: none"
                    data-dismiss="modal" (click)="pauseTimer()">
                    <i class="fa fa-hourglass-start"></i> Startuj pauzu
                </button>
            </div>
        </div>
    </div>
</div>