<div class="container mt-4">
    <div class="col-12 mb-3">
        
        <div class="button-group">
            <div class="row">
                <div class="col">
                    <h3 *ngIf="new">Kreiranje naloga</h3>
                    <h3 *ngIf="!new">Informacije o nalogu</h3>
                </div>
                <div class="col" style="float: right">
                    <button class="btn btn-primary btn-edit" *ngIf="!new" (click)="closeWorkOrder()"><i class="fa fa-window-close mr-2" ></i>Zatvori</button>
                    <button class="btn btn-primary btn-add mr-2" (click)="saveData()"><i class="fa fa-save mr-2"></i>Sačuvaj</button>

                </div>
            </div>
            
            
        </div>
    </div>
    <!--header info-->
    <div class="header-info">
        <table class="table header-table">
            <tr>
                <td class="left-col-header">
                   <i class="fa fa-file mr-2"></i>Operacija:
                </td>
                <td class="right-col-header">
                    <input type="text" name="" [(ngModel)]="workOrder.name" class="form-control" id="">
                </td>
                <td class="left-col-header">
                    <i class="fa fa-database mr-2"></i>Tabla:
                 </td>
                 <td class="right-col-header">
                     <input type="text" name="" [(ngModel)]="workOrder.table"  id="" class="form-control">
                 </td>
            </tr>
            <tr>
                <td class="left-col-header">
                    <i class="fa fa-calendar mr-2"></i>Datum:
                </td>
                <td class="right-col-header">
                    <div class="form-row">
                        <div class="col">
                            <input type="date" [(ngModel)]="workOrder.start" name="" class="form-control" id="">
                        </div>
                        <div class="mt-2">
                            -
                        </div>
                        <div class="col">
                            <input type="date" [(ngModel)]="workOrder.end" name="" class="form-control" id="">
                        </div>
                    </div>
                </td>
                <td class="left-col-header">
                    <i class="fa fa-user mr-2"></i>Odgovorna osoba:
                 </td>
                 <td class="right-col-header">
                     <input type="text" name="" [(ngModel)]="workOrder.responsible" id="" class="form-control">
                 </td>
            </tr>
            <tr>
                <td class="left-col-header">
                  <i class="fa fa-cubes"></i> Kultura:
                </td>
                <td class="right-col-header">
                    <input type="text" name="" [(ngModel)]="workOrder.culture" id="" class="form-control">
                </td>
                <td class="left-col-header">
                    <i class="fa fa-tasks mr-2"></i>Godina:
                 </td>
                 <td class="right-col-header">
                    <select name="" [(ngModel)]="workOrder.year" id="" class="form-control">
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="left-col-header">
                  <i class="fa fa-clone"></i> Površina:
                </td>
                <td class="right-col-header">
                    <input type="text" name="" [(ngModel)]="workOrder.area" id="" class="form-control">
                </td>
                <td class="left-col-header" >
                    <span *ngIf="!new">
                        <i class="fa fa-flag mr-2"></i>Obrađeno:
                    </span>
                    
                 </td>
                 <td class="right-col-header">
                     <span *ngIf="!new">
                        <input type="text" name="" [(ngModel)]="workOrder.treated"  id="" class="form-control">
                     </span>
                     
                 </td>
            </tr>
        </table>
    </div>

    <!--workers-->
    <div class="workers">
    <button class="btn btn-primary collapsing-button shadow-none" (click)="expandWorkers()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-user mr-2"></i>Radnici<i *ngIf="!workers" class="fa fa-arrow-down mr-2 mt-1 arrows"></i><i *ngIf="workers" class="fa fa-arrow-up mr-2 mt-1 arrows"></i>
    </button>
    <div class="collapse" id="collapseExample">
    <div class="card card-body collapse-card">
        <table class="table table-input">
            <thead>
                <th>
                    Radnik*
                </th>
                <th *ngIf="!new">
                    Datum*
                </th>
                <th>
                    Operacija
                </th>
                <th *ngIf="!new">
                    Redovan rad
                </th>
                <th *ngIf="!new">
                    Noćni rad
                </th>
                <th *ngIf="!new">
                    Ukupan rad
                </th>
                <th style="text-align: right !important;">
                    Dodaj
                </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <select [(ngModel)]="worker.worker" name="" id="" class="form-control">
                            <option value="-1"></option>
                            <option value="Milan Milanovic">Milan Milanovic</option>
                            <option value="Milos Milosevic">Milos Milosevic</option>
                            <option value="Milan Milankovic">Milan Milankovic</option>
                            <option value="Nemanja Nemanjic">Nemanja Nemanjic</option>
                            <option value="Pera Peric">Pera Peric</option>
                            <option value="Nikola Nikolic">Nikola Nikolic</option>
                        </select>
                    </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="input-group">
                            <input [(ngModel)]="worker.date" (click)="od.toggle()" class="form-control" id="od" placeholder="yyyy-mm-dd" ngbDatepicker #od="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="od.toggle()" type="button"></button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select name="" id="" [(ngModel)]="worker.operation" class="form-control">
                                <option value="{{worker.operation}}" selected>{{worker.operation}}</option>
                                <option value="Operacija 2">Operacija 2</option>
                            </select>
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="worker.dayWorkPeriod" type="number" name="" class="form-control" id="">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="worker.nightWorkPeriod" type="number" name="" class="form-control" id="">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="worker.workPeriod" type="number" name="" class="form-control" id="">
                        </div>
                    </td>
                    <td>
                        <div *ngIf="!editing" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="addWorker()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div *ngIf="editing" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="editExistingWorker()">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let worker of workOrder.workers">
                    <td>{{ worker.worker }}</td>
                    <td *ngIf="!new">{{ worker.date }}</td>
                    <td >{{ worker.operation }}</td>
                    <td *ngIf="!new">{{ worker.dayWorkPeriod }} h</td>
                    <td *ngIf="!new">{{ worker.nightWorkPeriod }} h</td>
                    <td *ngIf="!new">{{ worker.workPeriod }} h</td>
                    <td>
                        <button class="btn btn-primary btn-edit" (click)="editWorker(worker)">
                        <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
        </table>
    </div>  
</div>

<!--machines-->
<div class="machines mt-4">
    <button class="btn btn-primary collapsing-button shadow-none" (click)="expandMachines()" type="button" data-toggle="collapse" data-target="#collapseExampleMachines" aria-expanded="false" aria-controls="collapseExampleMachines">
        <i class="fa fa-truck mr-2"></i>Mašine<i *ngIf="!machines" class="fa fa-arrow-down mr-2 mt-1 arrows"></i><i *ngIf="machines" class="fa fa-arrow-up mr-2 mt-1 arrows"></i>
    </button>
    <div class="collapse" id="collapseExampleMachines">
    <div class="card card-body collapse-card">
        <table class="table table-input">
            <thead>
                <th>
                    Mašina*     
                </th>
                <th>
                    Radnik*
                </th>
                <th *ngIf="!new">
                    Početno stanje MČ (mh)
                </th>
                <th *ngIf="!new">
                    Krajnje stanje MČ (mh)
                </th>
                <th *ngIf="!new">
                    Utrošeni moto časovi
                </th>
                <th *ngIf="!new">
                    Utrošak goriva (l)
                </th>
                <th style="text-align: right !important;">
                    Dodaj
                </th>
            </thead>
            <tbody>
            <tr>
                <td>
                        <div class="form-group">

                            <select [(ngModel)]="machine.machine" name="" id="" class="form-control">
                                <option value="-1"></option>
                                <option value="NH 456/1">NH 456/1</option>
                                <option value="TEST MAŠINA 1">TEST MAŠINA 1</option>
                                <option value="TEST MAŠINA 2">TEST MAŠINA 2</option>
                                <option value="TEST MAŠINA 3">TEST MAŠINA 3</option>
                                <option value="Traktor">Traktor</option>
                                <option value="Bager">Bager</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <select [(ngModel)]="machine.worker" name="" id="" class="form-control">
                                <option value="-1"></option>
                                <option value="Milan Milanovic">Milan Milanovic</option>
                                <option value="Milos Milosevic">Milos Milosevic</option>
                                <option value="Milan Milankovic">Milan Milankovic</option>
                                <option value="Nemanja Nemanjic">Nemanja Nemanjic</option>
                                <option value="Pera Peric">Pera Peric</option>
                                <option value="Nikola Nikolic">Nikola Nikolic</option>
                            </select>
                        </div>
                    </td>
                    
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="machine.initialState" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="machine.finalState" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="machine.sumState" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group">
                            <input [(ngModel)]="machine.fuel" type="number" name="" id="" class="form-control">
                        </div>
                    </td>

                    <td>
                        <div *ngIf="!editingMachine" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="addMachine()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div *ngIf="editingMachine" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="updateExistingMachine()">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let machine of workOrder.machines">
                    <td>{{ machine.machine }}</td>
                    <td>{{ machine.worker }}</td>
                    <td *ngIf="!new">{{ machine.initialState }} </td>
                    <td *ngIf="!new">{{ machine.finalState }}</td>
                    <td *ngIf="!new">{{ machine.sumState }}</td>
                    <td *ngIf="!new">{{ machine.fuel }}</td>
                    <td>
                        <button class="btn btn-primary btn-edit" (click)="editMachine(machine)">
                        <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
      
    </div>  
    </div>
</div>

<!--materials-->
<div class="machines mt-4">
    <button class="btn btn-primary collapsing-button shadow-none" (click)="expandMaterials()" type="button" data-toggle="collapse" data-target="#collapseExampleMaterials" aria-expanded="false" aria-controls="collapseExampleMachines">
        <i class="fa fa-leaf mr-2"></i>Materijali<i *ngIf="!materials" class="fa fa-arrow-down mr-2 mt-1 arrows"></i><i *ngIf="materials" class="fa fa-arrow-up mr-2 mt-1 arrows"></i>
    </button>
    <div class="collapse" id="collapseExampleMaterials">
    <div class="card card-body collapse-card">
        <table class="table table-input">
            <thead>
                <th>
                    Materijal*     
                </th>
                <th>
                    Planirana količina / ha*
                </th>
                <th>
                   Planirana količina*
                </th>
                <th>
                    Jedinica mere*
                </th>
                <th *ngIf="!new">
                    Utrošeno / ha
                </th>
                <th *ngIf="!new">
                    Utrošeno 
                </th>
                <th style="text-align: right !important;">
                    Dodaj
                </th>
            </thead>
            <tbody>
            <tr>
                <td>
                        <div class="form-group">

                            <select [(ngModel)]="material.name" name="" id="" class="form-control">
                                <option value="-1"></option>
                                <option value="Materijal 1">Materijal 1</option>
                                <option value="Materijal 2">Materijal 2</option>
                                <option value="Materijal 3">Materijal 3</option>
                                <option value="XYZ">XYZ</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input [(ngModel)]="material.quantityPerHectar" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input [(ngModel)]="material.quantity" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select [(ngModel)]="material.unit" name="" id="" class="form-control">
                                <option value="KG">kg</option>
                                <option value="KG/H">kg/h</option>
                                <option value="l">l</option>
                            </select>
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group" >
                            <input [(ngModel)]="material.spentPerHectar" type="number" name="" id="" class="form-control">
                        </div>
                    </td>
                    <td *ngIf="!new">
                        <div class="form-group" >
                            <input [(ngModel)]="material.spent" type="number" name="" id="" class="form-control">
                        </div>
                    </td>

                    <td>
                        <div *ngIf="!editingMaterial" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="addMaterial()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div *ngIf="editingMaterial" class="form-group">
                            <button class="btn btn-primary btn-add mr-2" (click)="editExistingMaterial()">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let material of workOrder.materials">
                    <td>{{ material.name }}</td>
                    <td>{{ material.quantityPerHectar }}</td>
                    <td>{{ material.quantity }}</td>
                    <td >{{ material.unit }}</td>
                    <td *ngIf="!new">{{ material.spentPerHectar }}</td>
                    <td *ngIf="!new">{{ material.spent }}</td>

                    <td>
                        <button class="btn btn-primary btn-edit" (click)="editMaterial(material)">
                        <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
      
    </div>  
    </div>
    </div>

</div>

</div>